@if(donationForm?.id)
{
<div class="flex flex-col gap-6 p-4 bg-white border border-gray-light">
  <div class="flex justify-center items-center gap-2 p-4 border border-gray-medium">
    <img loading="lazy" class="xl:w-[40%] w-[30%] md:w-[30%]" alt="donors" src="assets/images/shared/donors.webp" />
    <p>+1650 Donors</p>
  </div>
  @if (donationForm.fullyFundLevel) {
  <div class="text-center p-2 border border-gray-medium">
    <p class="text-body-3">
      Donate
      <span class="bg-secondary">${{ donationForm.fullyFundLevel }}</span> to
      fully fund
    </p>
  </div>
  }
  <div class="flex flex-col gap-2">
    <h3>Choose amount</h3>
    <div class="flex flex-wrap gap-3">
      @for (level of donationForm.levels; track getLevelIdentifier(level)) {
      <label class="flex flex-1">
        <input class="peer appearance-none" type="radio" name="amount"
        [value]="getLevelIdentifier(level)"
        [(ngModel)]="selectedLevelIdentifier"
        (change)="onLevelSelect(level)" />
        <div
          class="flex justify-center items-center w-full py-3 px-6 border border-gray-medium cursor-pointer transition-colors ease-in-out hover:bg-primary hover:border-primary hover:text-white peer-checked:bg-primary peer-checked:border-primary peer-checked:text-black">
          @if (!level.name) {
          <span class="whitespace-nowrap">{{ "$" + level.amount }}</span>
          } @else {
          <span class="whitespace-nowrap">{{ level.name }}</span>
          }
        </div>
      </label>
      }
    </div>
    <input class="py-3 mt-3 px-6 text-center border border-gray-medium outline-none" type="number" [(ngModel)]="amount"
      placeholder="$ Custom Amount" (keypress)="validateKeyPress($event)" (input)="validateInput($event)"/>
  </div>
  <div class="flex justify-between items-center gap-1 py-3 pe-4 ps-1 border border-gray-medium">
    <mat-checkbox color="primary" [(ngModel)]="makeRecurringDonation" class="ms-0">Make this donation
      every</mat-checkbox>
    <div class="min-w-[80px] shrink-0">
      <mat-select [(value)]="recurringPeriod">
        @for (period of donationForm.recurring_periods; track period) {
        <mat-option value="{{ period }}">{{ period | titlecase }}</mat-option>
        }
      </mat-select>
    </div>
  </div>
  <app-form-button appearance="filled" [fullWidth]="true" [disabled]="!amount" (click)="onMakeDonation()">
    Donate Now
  </app-form-button>
  <ng-content></ng-content>
</div>
}