nav {
  background-color: var(--accent-text-color);
}

.nav-bar {

  .nav-bar-menu {

    ul {

      li {
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 8px 12px;
          transition: 0.2s linear;

          &.active {
            color: var(--accent-text-color);
            background-color: #205926;
          }

          &:not(.active):hover {
            color: var(--accent-text-color);
            background-color: #205926;
          }
        }
      }
    }
  }

  .header-buttons {

    & > * {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: var(--white-color);
    }
  }
}
