<header>
  <nav class="bg-white">
    <div class="container flex justify-between xl:justify-normal items-center gap-8 py-4">
      <a routerLink="/home">
        <img class="w-14 aspect-square" src="assets/images/logo.webp" alt="Africa Relief Logo" loading="lazy" />
      </a>
      <ul class="flex-1 hidden xl:flex gap-3 lg:gap-1 lg:text-[15px]">
        <li (click)="closeSearchBar()">
          <a class="flex justify-center items-center py-2 px-3 transition-colors hover:text-white hover:bg-primary"
            routerLink="/home" routerLinkActive="text-white bg-primary"
            [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li (click)="closeSearchBar()">
          <a class="flex justify-center items-center py-2 px-3 transition-colors hover:text-white hover:bg-primary"
            routerLink="/projects" routerLinkActive="text-white bg-primary"
            [routerLinkActiveOptions]="{ exact: true }">Our Projects</a>
        </li>
        <li (click)="closeSearchBar()">
          <a class="flex justify-center text-danger items-center py-2 px-3 transition-colors hover:text-white hover:bg-danger"
            routerLink="/emergency" routerLinkActive="text-white bg-danger">Emergency Campaigns</a>
        </li>
        <li (click)="closeSearchBar()">
          <a class="flex justify-center items-center py-2 px-3 transition-colors hover:text-white hover:bg-primary"
            routerLink="/zakat-calculator" routerLinkActive="text-white bg-primary"
            [routerLinkActiveOptions]="{ exact: true }">Zakat Calculator </a>
        </li>
        <li class="relative">
          <button
            class="flex items-center py-2 px-3 transition-colors hover:text-white hover:bg-primary group get-involved-button"
            aria-haspopup="true" (click)="toggleGetInvolvedMenu()">
            Get Involved
            <span class="ml-2 transition-transform group-hover:fill-white"
              [ngClass]="{ 'rotate-180': isGetInvolvedMenuVisible }">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 12 9"
                class="transition-colors text-black group-hover:text-white">
                <path d="M6 8.37498L0 2.37498L1.4 0.974976L6 5.57498L10.6 0.974976L12 2.37498L6 8.37498Z"
                  fill="currentColor" />
              </svg>
            </span>
          </button>

          <ul class="absolute left-0 bg-white shadow-lg transition-all max-h-0 overflow-hidden z-30 get-involved-menu"
            [ngClass]="{ 'max-h-96': isGetInvolvedMenuVisible }">
            <li>
              <a class="flex items-center py-2 px-3 transition-colors hover:text-primary" routerLink="/get-involved"
                routerLinkActive="text-primary" [routerLinkActiveOptions]="{ exact: true }"
                (click)="closeGetInvolvedMenu()">
                Volunteer
              </a>
            </li>
            <li>
              <a class="flex items-center py-2 px-3 transition-colors hover:text-primary"
                routerLink="/get-involved/stock-donations" routerLinkActive="text-primary"
                (click)="closeGetInvolvedMenu()">
                Donate Stock
              </a>
            </li>
            <li>
              <a
                class="flex items-center py-2 px-3 transition-colors hover:text-primary"
                routerLink="/get-involved/gift-matching"
                routerLinkActive="text-primary"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="closeGetInvolvedMenu()"
              >
                Matching Gifts
              </a>
            </li>
          </ul>
        </li>
        <li (click)="closeSearchBar()">
          <a class="flex justify-center items-center py-2 px-3 transition-colors hover:text-white hover:bg-primary"
            routerLink="/blogs" routerLinkActive="text-white bg-primary"
            [routerLinkActiveOptions]="{ exact: true }">Blog</a>
        </li>
        <li class="relative">
          <button
            class="flex items-center py-2 px-3 transition-colors hover:text-white hover:bg-primary group about-us-button"
            aria-haspopup="true" (click)="toggleAboutMenu()">
            About Us
            <span class="ml-2 transition-transform group-hover:fill-white"
              [ngClass]="{ 'rotate-180': isAboutMenuVisible }">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 12 9"
                class="transition-colors text-black group-hover:text-white">
                <path d="M6 8.37498L0 2.37498L1.4 0.974976L6 5.57498L10.6 0.974976L12 2.37498L6 8.37498Z"
                  fill="currentColor" />
              </svg>
            </span>
          </button>

          <ul class="absolute left-0 bg-white shadow-lg transition-all max-h-0 overflow-hidden z-30 about-us-menu"
            [ngClass]="{ 'max-h-96': isAboutMenuVisible }">
            <li>
              <a class="flex justify-center items-center py-2 px-3 transition-colors hover:text-primary"
                routerLink="/about" routerLinkActive="text-primary" [routerLinkActiveOptions]="{ exact: true }"
                (click)="closeAboutMenu()">
                Mission& Impact
              </a>
            </li>
            <li>
              <a class="flex justify-center items-center py-2 px-3 transition-colors hover:text-primary"
                routerLink="/about/executive-director" routerLinkActive="text-primary"
                [routerLinkActiveOptions]="{ exact: true }" (click)="closeAboutMenu()">
                Executive Director
              </a>
            </li>
          </ul>
        </li>
        <li (click)="closeSearchBar()">
          <a class="flex justify-center items-center py-2 px-3 transition-colors hover:text-white hover:bg-primary"
            routerLink="/careers" routerLinkActive="text-white bg-primary"
            [routerLinkActiveOptions]="{ exact: true }">Careers</a>
        </li>
      </ul>
      <div class="flex gap-4 justify-center items-center relative">
        <app-icon-search (click)="toggleSearchBar()" />
        @if (isSearchBarVisible) {
        <app-search-bar class="absolute top-[4.5rem] z-30 -start-56" />
        }
        <a class="hidden xl:block text-white bg-primary py-2 px-3"
          routerLink="/projects/help-where-it-is-most-needed">Donate Now</a>
        @if (!isUserAuthed) {
        <a class="flex items-center" routerLink="/login" aria-label="profile">
          <app-icon-profile />
        </a>
        } @else {
        <button class="flex items-center" [matMenuTriggerFor]="menu">
          <app-icon-profile />
        </button>
        <mat-menu #menu="matMenu">
          <a routerLink="/profile" mat-menu-item>Account</a>
          <a routerLink="/profile/donations" mat-menu-item>Donations</a>
          <button mat-menu-item (click)="onLogout()">Logout</button>
        </mat-menu>
        }
        <button class="flex xl:hidden justify-center items-center w-12 rounded-full bg-white" aria-label="side-nav"
          (click)="openSideNav()">
          <app-icon-hamburger />
        </button>
      </div>
    </div>
  </nav>
</header>