<div class="container mt-4 mb-20">
  <!-- Breadcrumb -->
  <app-breadcrumb currentName="Get Involved"/>

  <!-- 1st Section -->
  <div class="flex flex-col lg:flex-row justify-between gap-6 pt-6 pb-10 border-b border-gray-medium">
    <div class="flex flex-col gap-6 basis-1/2">
      <h1 class="text-heading-1">Lend a Hand and Change a Life.</h1>
      <p class="text-body-2 text-gray-dark lg:max-w-[506px]">The reason is simple– nothing matches the satisfaction and fulfillment that comes from alleviating the suffering of others. Their smiles of gratitude are worth the world, and the feeling of seeing the fruits of your labor of love is unmatched. You’ll want to see those smiles again and again. The reward that someone feels when he/she decides to help someone who is going through a tough time is fulfilling beyond belief. It is almost like you feel you need to keep on helping, because you need to keep your heart satisfied and healthy.</p>
    </div>
    <div>
      <img class="w-full" src="assets/images/get-involved/lend-a-hand-and-change-a-life.webp" alt="Lend a Hand and Change a Life" loading="lazy">
    </div>
  </div>

  <!-- Become Volunteer Form section -->
  <app-become-volunteer-form-section />

  <!-- Partnership Grant Section -->
  <div class="flex flex-col gap-6 py-10 border-b border-gray-medium">
    <div>
      <img class="w-full" src="assets/images/get-involved/partnership-grant.webp" alt="Partnership Grant" loading="lazy">
    </div>
    <div class="flex flex-col lg:flex-row justify-between gap-6">
      <div class="basis-1/2">
        <div class="flex flex-col gap-6 lg:max-w-[506px]">
          <h2 class="text-heading-2">Partnership Grant</h2>
          <p class="text-body-2 text-gray-dark">Partner your company/organization with Africa Relief today to start making a difference in the lives of many!</p>
          <p class="text-body-2">The Partnership Grant Application Africa Relief and Community Development (ARCD) was established to address the immediate and long-term needs of poverty-stricken communities in Africa by providing comprehensive relief and developmental aid.</p>
        </div>
      </div>
      <div class="flex flex-col gap-6 basis-1/2">
        <h3 class="text-body-2-md">Criteria for Grant Requests: ARCD will consider grant requests to organizations that:</h3>
        <ul class="list-disc ps-6 text-body-2 text-gray-dark lg:max-w-[506px]">
          <li>Are non-profit entities</li>
          <li>Support programs related to water and sanitation, orphan sponsorship, student sponsorship, food aid, and/or healthcare aid.</li>
          <li>Are working within West, South, East, and/or Central Africa</li>
          <li>Have been in operation for a minimum of 5 consecutive years, and can provide a portfolio containing all completed and in-progress reports when submitting the application</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="flex flex-col lg:flex-row justify-between gap-6 pt-6 pb-10">
    <div class="flex flex-col gap-6 basis-1/2">
      <h2 class="text-heading-2">Matching Gift</h2>
      <p class="text-body-2 text-gray-dark lg:max-w-[506px]">At Africa Relief and Community Development, we are dedicated to providing comprehensive humanitarian relief to various communities in the African continent. Our organization accepts donations of all kinds to assist in our developmental work, aid, and relief. An easy way to double your contribution is through employee giving programs. Many corporations match employee donations (or the tax- deductible component of your membership) to our organization. If you volunteer with us, your employer may also provide us with a grant as a way to recognize your ongoing support. Thanks for checking to see if your company offers these programs!</p>
      <app-button-link label="Contact Us" path="/contact" [icon]="true" appearance="outlined-secondary"/>
    </div>
    <app-accordion [contentList]="accordionsContent" class="basis-1/2"/>
    <!-- <mat-accordion>
      @for (content of accordionsContent; track content) {
        <mat-expansion-panel class="rounded-none">
          <mat-expansion-panel-header>
            <mat-panel-title>{{content.heading}}</mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{content.description}}</p>
        </mat-expansion-panel>
      }
    </mat-accordion> -->
  </div>
</div>