<div class="container flex flex-col gap-6 mt-4 mb-10 lg:mb-20">
  <!-- Breadcrumb -->
  <app-breadcrumb currentName="Contact Us"/>

  <div class="flex flex-col lg:flex-row gap-6">
    <!-- Contact Container -->
    <div class="basis-1/2 flex flex-col gap-6">
      <h1 class="text-heading-1">Get in Touch</h1>

      <!-- Contact Information -->
      <div class="grid grid-rows-3 md:grid-rows-2 grid-cols-2 gap-3">
        <a class="flex items-center col-span-2 gap-3 w-full p-4 bg-white border border-gray-light" href="https://www.google.com/maps/place/65+Kingsland+Ave+%232,+Clifton,+NJ+07014,+USA/@40.8220369,-74.1305663,17z/data=!3m1!4b1!4m5!3m4!1s0x89c2ff53b0d250eb:0x85d6d40ce61b0d3d!8m2!3d40.8220329!4d-74.1279914?entry=ttu" target="_blank" rel="noopener noreferrer">
          <app-icon-pin color="black"/>
          65 Kingsland Ave Suite#2, Clifton, NJ 07014
        </a>
        <a class="flex items-center col-span-2 md:col-span-1 gap-3 w-full p-4 bg-white border border-gray-light" href="mailto:info@arcdus.org" target="_blank" rel="noopener noreferrer">
          <app-icon-envelope color="black"/>
          info&#64;arcdus.org
        </a>
        <a class="flex items-center col-span-2 md:col-span-1 gap-3 w-full p-4 bg-white border border-gray-light" href="tel:+17322462360" target="_blank" rel="noopener noreferrer">
          <app-icon-phone color="black"/>
          (732) 246-2360
        </a>
      </div>

      <!-- Contact Form -->
      <div class="flex flex-1 p-6 bg-white basis-1/2">
        <form class="w-full" (submit)="onSubmitContactForm()" [formGroup]="contactForm">
          <app-form-field>
            <app-form-label>Name*</app-form-label>
            <input appFormElement type="text" formControlName="name" placeholder="Full Name">
            <app-form-error [hasError]="contactForm.get('name').hasError('required') && contactForm.get('name').touched">Name is required</app-form-error>
          </app-form-field>
          <app-form-field>
            <app-form-label>Email*</app-form-label>
            <input appFormElement type="email" formControlName="email" placeholder="example@gmail.com">
            <app-form-error [hasError]="contactForm.get('email').hasError('required') && contactForm.get('email').touched">Email is required</app-form-error>
            <app-form-error [hasError]="contactForm.get('email').hasError('email') && contactForm.get('email').touched">Please enter valid email</app-form-error>
          </app-form-field>
          <app-form-field>
            <app-form-label>Phone Number*</app-form-label>
            <input appFormElement type="tel" formControlName="phone" placeholder="Phone Number">
            <app-form-error [hasError]="contactForm.get('phone').hasError('required') && contactForm.get('phone').touched">Phone Number is required</app-form-error>
            <app-form-error [hasError]="contactForm.get('phone').hasError('pattern') && contactForm.get('phone').touched">Phone Number is invalid</app-form-error>
          </app-form-field>
          <app-form-field>
            <app-form-label>Address*</app-form-label>
            <input appFormElement type="text" formControlName="address" placeholder="Address">
            <app-form-error [hasError]="contactForm.get('address').hasError('required') && contactForm.get('address').touched">Address is required</app-form-error>
          </app-form-field>
          <app-form-field>
            <app-form-label>Message*</app-form-label>
            <textarea appFormElement formControlName="message" placeholder="Write your message" rows="3"></textarea>
            <app-form-error [hasError]="contactForm.get('message').hasError('required') && contactForm.get('message').touched">Message is required</app-form-error>
          </app-form-field>
          <div class="pt-2">
            <app-form-button appearance="outlined" [disabled]="contactForm.invalid || contactFormDisabled">Submit</app-form-button>
          </div>
        </form>
      </div>
    </div>

    <!-- Google Map -->
    <div class="basis-1/2">
      <iframe class="min-h-96" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3019.2699937039783!2d-74.12799140000001!3d40.822032899999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2ff53b0d250eb%3A0x85d6d40ce61b0d3d!2s65%20Kingsland%20Ave%20%232%2C%20Clifton%2C%20NJ%2007014%2C%20USA!5e0!3m2!1sen!2seg!4v1708432578028!5m2!1sen!2seg" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>