<section class="container flex justify-between items-center ga-8 lg:gap-32 flex-col xl:flex-row py-10">
  <div class="max-w-[540px]">
    <h2 class="text-body-1-inter text-primary mb-2">Safe + Easy Donation</h2>
    <h3 class="text-heading-2 mb-8">Small Actions Lead To Big changes</h3>
    <div class="flex flex-col gap-6">
      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-4">
          <app-icon-mission appIcon class="rounded-full" />
          <h4 class="text-body-1-inter">Mission</h4>
        </div>
        <p class="text-body-2">Improving lives in developing communities in Africa.</p>
      </div>
      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-4">
          <app-icon-vision appIcon class="rounded-full" />
          <h4 class="text-body-1-inter">Vision</h4>
        </div>
        <p class="text-body-2">A prosperous Africa with self-sustaining communities.</p>
      </div>
      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-4">
          <app-icon-objective appIcon class="rounded-full" />
          <h4 class="text-body-1-inter">Objective</h4>
        </div>
        <ul class="list-disc ps-6 text-body-2">
          <li>Mobilize and partner with the international humanitarian community to improve the lives of African women and children.</li>
          <li>Empower and protect the dignity of individuals and their local communities.</li>
          <li>Develop immediate and long-term humanitarian interventions and solutions.</li>
        </ul>
      </div>
    </div>
  </div>
  <img src="assets/images/shared/safe-and-easy-donation.webp" alt="Safe and easy donation">
</section>
