<footer class="text-white bg-black pt-16 pb-8 min-h-96">
  <div class="container flex flex-col gap-12">
    <div class="flex flex-col lg:flex-row gap-6 lg:gap-20">
      <div class="basis-2/6 flex flex-col gap-4">
        <figure class="w-32 h-32">
          <img width="112px" class="w-28 aspect-square" src="assets/images/logo.webp" alt="Africa Relief Logo" loading="lazy">
        </figure>
        <p class="font-roboto">Help Africa Relief fight poverty and inequality, and respond to pressing
          emergencies by making a donation today.</p>
        <app-button-link appearance="filled-secondary" label="Donate Now" path="/projects"/>
      </div>
      <div class="basis-1/6">
        <div class="flex justify-between items-center cursor-pointer md:cursor-default" (click)="openExploreAccordion = !openExploreAccordion">
          <h2 class="text-body-2 mb-2">Explore</h2>
          <div [ngClass]="openExploreAccordion ? 'after:rotate-0' : 'after:rotate-90'" class="relative lg:hidden after:absolute after:content-[''] after:end-0 after:w-5 after:h-0.5 after:transition-transform after:bg-white before:absolute before:content-[''] before:end-0 before:w-5 before:h-0.5 before:transition-transform before:bg-white"></div>
        </div>
        <ul class="flex flex-col gap-2 h-auto max-h-0 md:max-h-screen overflow-hidden transition-all" [ngClass]="{'max-h-[440px]': openExploreAccordion}">
          <li><a class="text-white opacity-50 hover:opacity-100" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
                    <li><a class="text-white opacity-50 hover:opacity-100" routerLink="/home/privacy" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Privacy</a></li>
          <li><a class="text-white opacity-50 hover:opacity-100" routerLink="/projects" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Our Projects</a></li>
          <li><a class="text-white opacity-50 hover:opacity-100" routerLink="/get-involved" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Get Involved</a></li>
          <li><a class="text-white opacity-50 hover:opacity-100" routerLink="/blogs" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Blog</a></li>
          <li><a class="text-white opacity-50 hover:opacity-100" routerLink="/gallery" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Gallery</a></li>
          <li><a class="text-white opacity-50 hover:opacity-100" routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About Us</a></li>
          <li><a class="text-white opacity-50 hover:opacity-100" routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contact Us</a></li>
          <li><a class="text-white opacity-50 hover:opacity-100" routerLink="/careers" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Careers</a></li>
        </ul>
      </div>
      <div class="basis-1/6">
        <div class="flex justify-between items-center cursor-pointer md:cursor-default" (click)="openProjectsAccordion = !openProjectsAccordion">
          <h2 class="text-body-2 mb-2">Our Projects</h2>
          <div [ngClass]="openProjectsAccordion ? 'after:rotate-0' : 'after:rotate-90'" class="relative lg:hidden after:absolute after:content-[''] after:end-0 after:w-5 after:h-0.5 after:transition-transform after:bg-white before:absolute before:content-[''] before:end-0 before:w-5 before:h-0.5 before:transition-transform before:bg-white"></div>
        </div>
        <ul class="flex flex-col gap-2 h-auto max-h-0 md:max-h-screen overflow-hidden transition-all" [ngClass]="{'max-h-[440px]': openProjectsAccordion}">
          <li><a class="text-white opacity-50 hover:opacity-100" routerLink="/projects/category/crisis" routerLinkActive="active">Crisis</a></li>
          <li><a class="text-white opacity-50 hover:opacity-100" routerLink="/projects/category/water" routerLinkActive="active">Water</a></li>
          <li><a class="text-white opacity-50 hover:opacity-100" routerLink="/projects/category/education" routerLinkActive="active">Education</a></li>
          <li><a class="text-white opacity-50 hover:opacity-100" routerLink="/projects/category/food-aid" routerLinkActive="active">Food Aid</a></li>
          <li><a class="text-white opacity-50 hover:opacity-100" routerLink="/projects/category/medical-help" routerLinkActive="active">Medical help</a></li>
          <li><a class="text-white opacity-50 hover:opacity-100" routerLink="/projects/category/orphan-sponsorship" routerLinkActive="active">Orphan Sponsorship</a></li>
          <li><a class="text-white opacity-50 hover:opacity-100" routerLink="/projects/category/zakat" routerLinkActive="active">Zakat</a></li>
          <li><a class="text-white opacity-50 hover:opacity-100" routerLink="/projects/category/ramadan" routerLinkActive="active">Ramadan</a></li>
        </ul>
      </div>
      <div class="basis-2/6 flex flex-col gap-2">
        <h2 class="text-body-2 w-2/3">Get Latest Updates</h2>
        <form class="flex items-center gap-2 w-full h-14 bg-white py-1 pr-1 pl-4" (submit)="onSubmitNewsLetterForm()" [formGroup]="newsletterForm">
          <input class="w-full outline-none text-black bg-white" formControlName="email" placeholder="Enter your email">
          <app-form-button appearance="filled" [disabled]="newsletterForm.invalid || newsletterFormDisabled">Subscribe</app-form-button>
        </form>
      </div>
    </div>
    <div class="flex flex-col lg:flex-row justify-between items-center gap-[24px]">
      <p>&copy; <a routerLink="/">Africa Relief.</a> All rights reserved. Powered by <a href="https://bluskyint.com">BlueSky</a></p>
      <div class="flex gap-2">
        <a href="https://www.linkedin.com" target="_blank" rel="nofollow">
          <app-icon-linkedin appIcon/>
        </a>
        <a href="https://www.youtube.com/channel/UCW3Kf6GLj8npphZGEaCb7Zw" target="_blank" rel="nofollow">
          <app-icon-youtube appIcon/>
        </a>
        <a href="https://www.instagram.com/africa_relief" target="_blank" rel="nofollow">
          <app-icon-instagram appIcon/>
        </a>
        <a href="https://www.facebook.com/AfricaReliefUS" target="_blank" rel="nofollow">
          <app-icon-facebook appIcon/>
        </a>
      </div>
    </div>
  </div>
</footer>