<div class="bg-primary bg-[url('/assets/images/shared/wave-bg.webp')] bg-cover bg-no-repeat">
  <figure class="container flex justify-between items-center flex-col-reverse lg:flex-row gap-6 lg:gap-16 p-6 lg:p-0">
    <img width="full" height="full" src="/assets/images/shared/Become-Volunteer.webp" alt="Become a Volunteer" loading="lazy">
    <div class="flex flex-col gap-8 text-white">
      <h2 class="text-heading-2">Lend a Hand & Change Lives: The Power of Community Engagement</h2>
      <a routerLink="/get-involved" class="border border-white py-3 px-6 w-fit">Become a Volunteer</a>
    </div>
  </figure>
</div>