<div class="container flex flex-col gap-6 mt-4 mb-10 lg:mb-20">
  <!-- Breadcrumb -->
  <app-breadcrumb currentName="About Us"/>

  <div class="flex flex-col lg:flex-row gap-6">
    <div class="basis-2/3 flex flex-col justify-between gap-4">
      <h1 class="text-heading-1">We are In a Mission to Help the Helpless</h1>
      <img class="w-full h-[320px] object-cover object-center" src="assets/images/about/about-us-header.webp" alt="Africa support: Volunteers distributing meals" loading="lazy">
    </div>
    <div class="basis-1/3 flex flex-col justify-between gap-4">
      <p class="text-body-2">Africa Relief is a non-profit empowering communities with tailored solutions. We provide Food aid, digging wells, training women, healthcare, sponsoring orphans and educational programs.</p>
      <img class="w-full h-[320px] object-cover object-center" src="assets/images/about/about-us-header-2.webp" alt="Africa support: Water well" loading="lazy">
    </div>
  </div>

  
</div>