.blogs-header {
  width: 100%;
  height: auto;
  padding: 48px 0px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url('/assets/images/blogs/bg-blogs.webp'), no-repeat;
  background-size: cover;
  background-position: center top;
}