<div class="container">
  <div class="w-full max-w-96 m-auto flex flex-col gap-8 p-6 my-10 lg:mb-20">
    @switch (emailVerified) {
      @case(null) {
        <span class="text-body-2 text-center text-danger">Invalid User</span>
      }
      @case (false) {
        <span class="text-body-2 text-center text-primary">Email already verified</span>
      }
      @case (true) {
        <span class="text-body-2 text-center text-primary">Email verified successfully</span>
      }
    }
    <app-button-link path="/home" appearance="outlined-primary" label="Go Home" [fullWidth]="true"/>
  </div>
</div>