.accordion {
  .accordion-btn,
  .description {
    transition: 0.3s ease-in-out;
  }

  &.active {

    .description {
      max-height: 1200px;
      margin-top: 16px;
    }

    .accordion-btn {
      transform: rotate(180deg);
    }
  }
}