<div class="flex flex-col gap-8 mb-10 lg:mb-20">
  <!-- Gallery Header -->
  <div class="relative w-full h-auto py-12 bg-[url('/assets/images/archive-header-bg.webp')] bg-cover bg-no-repeat bg-[center_top] md:bg-[center_-100px] after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-black after:bg-opacity-60 after:block">
    <div class="container flex flex-col lg:flex-row gap-4 text-white relative z-10">
        <div class="basis-1/2 flex flex-col gap-2">
          <app-breadcrumb currentName="Gallery" appreance="white"/>
          <h1 class="text-heading-1">Gallery</h1>
        </div>
        <p class="basis-1/2 text-body-2">THANKS TO THE GENEROSITY OF OUR DONORS
        <br>and the hard work of our expanding team, we have made a serious positive impact in more than 15 countries.</p>
    </div>
  </div>

  @defer () {
    <!--
      To enable InfinitScroll for gallery add this
      event to <div> element of gallery cards
      (scrolled)="onGetGallery()"
    -->
    <div class="container columns-1 md:columns-2 lg:columns-3" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50">
      @for (item of gallery; track item.slug) {
        <a [title]="item.title" [routerLink]="'/blogs/' + item.slug" class="relative overflow-hidden group block mb-4">
          <img class="w-full" [src]="item.image.src" [alt]="item.image.alt" loading="lazy">
          <div class="group-hover:opacity-100 opacity-0 transition-opacity ease-in-out absolute w-full h-40 bottom-0 start-0 bg-gradient-to-t from-black"></div>
          <h2 class="group-hover:bottom-0 transition-all ease-in-out absolute w-full -bottom-10 start-0 p-4 text-body-2 font-semibold text-white truncate">{{item.title}}</h2>
        </a>
      }
    </div>
  }
  @placeholder (minimum 0.5s) {
    <div class="container columns-1 md:columns-2 lg:columns-3">
      <div class="animate-pulse bg-gray-light h-56 mb-4"></div>
      <div class="animate-pulse bg-gray-light h-48 mb-4"></div>
      <div class="animate-pulse bg-gray-light h-40 mb-4"></div>
      <div class="animate-pulse bg-gray-light h-36 mb-4"></div>
      <div class="animate-pulse bg-gray-light h-48 mb-4"></div>
      <div class="animate-pulse bg-gray-light h-64 mb-4"></div>
      <div class="animate-pulse bg-gray-light h-36 mb-4"></div>
      <div class="animate-pulse bg-gray-light h-48 mb-4"></div>
      <div class="animate-pulse bg-gray-light h-96 mb-4"></div>
    </div>
  }
</div>