.project-categories-slider {
  .slide-item {
    display: flex;
    width: 327px;
    padding: 24px;
    flex-direction: column;
    gap: 16px;
    border: 1px solid var(--light-gray-color);
    background-color: var(--white-color);
  }
}

.slider-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}
