<swiper-container class="project-categories-slider" init="false" [init]="false"  [lazy]="true" id="project-categories-slider-id">
  <swiper-slide class="flex flex-col gap-4 border border-gray-light bg-white w-[400px] p-4 "  loading="lazy">
    <app-icon-food appIcon/>
    <h4 class="text-body-1-inter">Food Aid</h4>
    <p class="text-body-2  line-clamp-4 lg:line-clamp-5">Our Healthy Food initiatives are not just about sustenance; they're about cultivating
      healthier, happier lives. Join us in providing nourishing meals to communities across Africa.</p>
    <app-button-link label="Browse Projects" path="/projects/category/food-aid" appearance="outlined-primary" [fullWidth]="true"/>
  </swiper-slide>
  <swiper-slide class="flex flex-col gap-4 border border-gray-light bg-white w-[400px] p-4 "  loading="lazy">
    <app-icon-education appIcon/>
    <h4 class="text-body-1-inter">Education</h4>
    <p class="text-body-2  line-clamp-4 lg:line-clamp-5">Every passing moment without education is a missed opportunity, allowing ignorance to
      triumph and keep minds unlit. Join Africa Relief's urgent Education Drive.</p>
    <app-button-link label="Browse Projects" path="/projects/category/education" appearance="outlined-primary" [fullWidth]="true"/>
  </swiper-slide>
  <swiper-slide class="flex flex-col gap-4 border border-gray-light bg-white w-[400px] p-4 "  loading="lazy">
    <app-icon-medical appIcon/>
    <h4 class="text-body-1-inter">Health Care</h4>
    <p class="text-body-2  line-clamp-4 lg:line-clamp-5">In the pursuit of health and well-being, Africa Relief extends its Healing Hands. Your
      contribution can be the lifeline for those in desperate need of vital medical assistance.</p>
    <app-button-link label="Browse Projects" path="/projects/category/medical-help" appearance="outlined-primary" [fullWidth]="true"/>
  </swiper-slide>
  <swiper-slide class="flex flex-col gap-4 border border-gray-light bg-white w-[400px] p-4 "  loading="lazy">
    <app-icon-water appIcon/>
    <h4 class="text-body-1-inter">Water Is Life</h4>
    <p class="text-body-2  line-clamp-4 lg:line-clamp-5">At Africa Relief, we're creating ripples of change. Your donation can be the drop that
      creates a transformative wave, ensuring universal access to safe and clean water for all</p>
    <app-button-link label="Browse Projects" path="/projects/category/water" appearance="outlined-primary" [fullWidth]="true"/>
  </swiper-slide>
  <swiper-slide class="flex flex-col gap-4 border border-gray-light bg-white w-[400px] p-4 "  loading="lazy">
    <app-icon-orphan appIcon/>
    <h4 class="text-body-1-inter">Orphan Care</h4>
    <p class="text-body-2  line-clamp-4 lg:line-clamp-5">Help orphan children. we provide basic needs for orphan children such as food, water,
      clothing, education, and health care. Your contribution can make a difference. </p>
    <app-button-link label="Browse Projects" path="/projects/category/orphan-sponsorship" appearance="outlined-primary" [fullWidth]="true"/>
  </swiper-slide>

  <swiper-slide class="flex flex-col gap-4 border border-gray-light bg-white w-[400px] p-4 "  loading="lazy">
    <app-icon-ramadan appIcon/>
    <h4 class="text-body-1-inter">Islamic Giving</h4>
    <p class="text-body-2  line-clamp-4 lg:line-clamp-5">Ramadan is a time to reflect, rejuvenate, and purify ourselves. It's an opportunity to
      extend our hands and uplift those facing hardship. Join us in sharing your kindness</p>
    <app-button-link label="Browse Projects" path="/projects/category/ramadan" appearance="outlined-primary" [fullWidth]="true"/>
  </swiper-slide>
</swiper-container>


<!-- Slider Navigation -->
<div class="flex justify-end items-center gap-4 mt-6">
  <app-icon-arrow-left appIcon appearance="outlined" color="black" class="category-slide-prev cursor-pointer"  aria-controls="project-categories-slider-id" role="button"
/>
  <app-icon-arrow-right appIcon appearance="outlined" color="black"  class="category-slide-next cursor-pointer"  aria-controls="project-categories-slider-id" role="button"
/>
</div>
