<div class="container  my-10 lg:mb-20 ">
  <app-breadcrumb currentName="Privacy Policy" appreance="primary" />
  <div class=" flex   flex-col container items-start flex-nowrap  mx-auto mb-0 mt-6">
    <span
      class="flex justify-start items-start  font-['Roboto_Serif'] text-xl lg:text-[48px] font-semibold lg:leading-[56px] my-2 text-primary  text-left">Privacy
      Statement for Africa Relief and Community Development</span><span
      class=" text-lg lg:text-[18px] font-normal leading-[32px] text-[#403f3e] m-5 text-left whitespace-nowrap ">Last
      Updated: January 30, 2025</span><span
      class=" flex  justify-start items-start self-stretch shrink-0 font-['Inter'] lg:text-[20px] font-normal leading-[32px] text-[#403f3e] m-5 text-left ">At
      Africa Relief and Community Development, we are committed to
      protecting your privacy. This statement describes the practices, policies,
      and procedures related to our website located at africarelief.org,
      including the types of Personal Information we collect on the website, how
      we may use that information, with whom we share it, how we safeguard that
      information, and the choices you have regarding our collection, use, and
      disclosure of your information.</span><span
      class="flex justify-start items-start self-stretch shrink-0 font-['Inter'] text-[16px] font-normal leading-[32px] text-[#403f3e]  text-left z-[3]">[Please
      note that this Privacy Statement applies only to our online
      information-gathering and dissemination practices occurring on our website
      and does not apply to any of our practices conducted offline.]</span>

    <!--Block 1-->
    <div
      class="flex cursor-pointer p-4 justify-between items-center self-stretch shrink-0  border-solid border-b border-b-[#cccccc]">
      <span (click)="toggleDropdown('one')"
        class="font-['Roboto_Serif'] lg:text-[24px] font-medium leading-[32px] text-[#1f1f1f]  text-left">Information
        We Collect and How We Use That Information</span>
      <svg (click)="toggleDropdown('one')" xmlns="http://www.w3.org/2000/svg"
        class="cursor-pointer h-6 w-6 ml-2 transition-transform duration-300 ease-in-out"
        [ngClass]="{'rotate-180': openDropdownId=='one'}" fill="none" viewBox="0 0 24 24" stroke="currentColor"
        stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
      </svg>
    </div>
    <div *ngIf="openDropdownId=='one'" class="mx-5">
      <span
        class="flex  justify-start items-start font-['Inter'] lg:text-[20px] font-normal leading-[32px] text-[#403f3e] m-5 text-left">Personal
        Information You Provide</span><span
        class="flex  justify-start items-start font-['Inter'] lg:text-[20px] font-normal leading-[32px] text-[#403f3e] m-5 text-left">We
        may collect a range of Personal Information. “Personal Information”
        means any information that is linked or reasonably linkable to an
        identified or identifiable natural person. Personal Information does not
        include de-identified data or publicly available information.
        <br /><br />Personal Information you provide to us through the website or
        otherwise may include:</span>
      <div class=" font-['Inter'] lg:text-[20px] font-normal lg:leading-[32px]  text-left">
        <span
          class="font-['Inter'] lg:text-[20px] font-semibold lg:leading-[32px] text-[#403f3e]  text-left">Donate:</span><span
          class="flex  justify-start items-start  font-['Inter'] lg:text-[20px] font-normal lg:leading-[32px] text-[#403f3e] m-3 text-left">
          If you donate through our website via the “donate” option, you will be
          asked to provide certain Personal Information, such as your phone
          number, name, and home address, as well as your credit card billing
          information, to process the donation. The credit card information that
          you provide at the time of donation is used only to process your
          donation (and may be used again if you opt to make recurring donations)
          and will not be stored or used for any other purpose.</span>
      </div>
      <div class="  font-['Inter'] lg:text-[20px] font-normal lg:leading-[32px]  text-left z-10">
        <span
          class="font-['Inter'] lg:text-[20px] font-semibold lg:leading-[32px] text-[#403f3e]  text-left">Newsletter:
        </span><span
          class="flex  justify-start items-start  font-['Inter'] lg:text-[20px] font-normal lg:leading-[32px] text-[#403f3e] m-2 text-left">If
          you opt to sign up for our email newsletter [or opt to subscribe to
          any one of our “content feeds”], we will ask you to provide certain
          Personal Information, including your email address.</span>
      </div>
      <div class="font-['Inter'] lg:text-[20px] font-normal lg:leading-[32px]  text-left ">
        <span class="font-['Inter'] lg:text-[20px] font-semibold lg:leading-[32px] text-[#403f3e]  text-left">Contact
          us/provide feedback:</span><span
          class="flex  justify-start items-start  font-['Inter'] lg:text-[20px] font-normal lg:leading-[32px] text-[#403f3e] m-5 text-left">
          If you opt to contact us, you will be asked to provide us certain
          Personal Information. The information we collect may include your name,
          email address, address, and phone number.</span>
      </div>
      <div class=" shrink-0 font-['Inter'] lg:text-[20px] font-normal lg:leading-[32px] text-left">
        <span
          class="font-['Inter'] lg:text-[20px] font-semibold lg:leading-[32px] text-[#403f3e]  text-left">Logins:</span><span
          class="flex  justify-start items-start  font-['Inter'] lg:text-[20px] font-normal leading-[32px] text-[#403f3e] m-5 text-left">
          If you opt to login or register for access to additional tools available
          on our website, please note that we will have access to certain of the
          Personal Information that you provide us in the registration process and
          account access. In the registration process, we ask you for your email
          and an account password.</span>
      </div>
      <span
        class="flex  justify-start items-start  font-['Inter'] lg:text-[20px] font-medium lg:leading-[32px] text-[#1f1f1f]  text-left ">Any
        of the information you provide to us may be used in one of the
        following ways:</span><span
        class="flex  justify-start items-start  font-['Inter'] lg:text-[20px] font-normallg: leading-[32px] text-[#403f3e] m-3 text-left">To
        process donations that you make and to send you receipts for those
        donations.<br />To provide and operate the website.<br />To personalize
        your experience (your information helps us to better respond to your
        individual needs).<br />To improve our website and its functionality.<br />To
        respond to your requests, questions and feedback.<br />To communicate with
        you about the programs, initiatives, website and services.<br />To send
        you updates and promotional communications. We may send you marketing
        communications as permitted by law. You can opt-out of our promotional
        communications by contacting us at info&#64;arcdus.org or by clicking on the
        “unsubscribe” link at the bottom of each communication.<br />For
        compliance, fraud prevention, and safety. As we believe necessary or
        appropriate, we may use your Personal Information and disclose it to law
        enforcement, government authorities, and private parties: (a) to protect
        our, your or others’ rights, privacy, safety or property (including by
        making and defending legal claims); (b) to comply with lawful requests and
        legal processes; and (c) to protect, investigate and deter against
        fraudulent, harmful, unauthorized, unethical or illegal activity.<br />With
        your consent. In some cases, we may specifically ask you for your consent
        to collect, use or share your Personal Information.</span><span
        class="flex justify-start items-start  font-['Inter'] lg:text-[16px] font-normal lg:leading-[32px] text-[#403f3e]  text-left">*
        You hereby grant ARCD a non-exclusive, worldwide, royalty-free,
        sub-licensable license to utilize any information or feedback, comments,
        ideas, proposals and suggestions for improvements that may be provided by
        you to us.</span><span
        class="flex  justify-start items-start font-['Inter'] lg:text-[20px] font-medium lg:leading-[32px] text-[#1f1f1f]  text-left">Personal
        Information That We Collect Automatically</span><span
        class=" shrink-0 flex  justify-start items-start  font-['Inter'] lg:text-[20px] font-normal lg:leading-[32px] text-[#403f3e] m-3 text-left ">We
        also collect certain Personal Information by automated means when you
        visit the website. The information may include usage information, such as
        [the numbers and frequency of users to the website, pages visited, web
        browsing history, your location and device, social networking activities
        and similar data]. When gathered, this data is often used in the
        aggregate, and not in a manner that is intended to identify you
        personally. </span><span
        class="flex justify-start items-start  font-['Inter'] text-[16px] font-normal leading-[32px] text-[#403f3e]  text-left z-[18]">[This
        type of aggregate information may be shared with third parties at
        any time, including advertisers, marketers, and machine learning vendors
        or service providers.]</span><span
        class="flex  justify-start items-start  font-['Inter'] lg:text-[20px] font-normal lg:leading-[32px] text-[#403f3e] m-5 text-left">In
        addition to the third-party tracking services mentioned above, we also
        collect this information through various other means, including "cookies,"
        "web beacons" and IP addresses, as further explained below.</span><span
        class="fflex  justify-start items-start  font-['Inter'] lg:text-[20px] font-normal leading-[32px] text-[#403f3e] m-5 text-left">[In
        conjunction with advertisements that we may serve on the website, we
        also may use “ad pixels” and/or “trackers” that follow and track your
        activities from an ad placement to specific website use/activities.]</span>

      <div class=" shrink-0 font-['Inter'] lg:text-[20px] font-normal leading-[32px]  text-left z-[21]">
        <span
          class="font-['Inter'] lg:text-[20px] font-semibold leading-[32px] text-[#403f3e]  text-left">Cookies:</span><span
          class="flex  justify-start items-start  font-['Inter'] lg:text-[20px] font-normal leading-[32px] text-[#403f3e] m-5 text-left">
          <br />A cookie is a piece of information that a web server may place on
          your computer when you visit a website. Cookies are commonly used by
          websites to improve the user experience. Many cookies last only through
          a single website session, or visit. Others may have an expiration date
          or may remain on your computer until you delete them. We use two
          different types of cookies: session cookies - that track how visitors
          move through our site during a particular visit; and persistent cookies
          - small files that a site or its service provider transfers to your
          computer's hard drive through your web browser (if you allow) that
          enables the sites or service providers systems to recognize your browser
          and capture and remember certain information.<br /><br />We use these
          cookies to understand and save your preferences for future visits and
          compile aggregate data about site traffic and site interaction so that
          we can offer better site experiences and tools in the future. We may
          contract with third-party service providers to assist us in better
          understanding our site visitors. These service providers are not
          permitted to use the information collected on our behalf except to help
          us conduct and improve our business. <br /><br />Most browsers will tell
          you how to stop accepting new cookies, how to be notified when you
          receive a new cookie, and how to disable existing cookies. Please note,
          however, that without cookies you may not be able to take full advantage
          of all the features on our website. In some cases, we may also use
          another company to operate web servers for our website. We use the
          cookie information gathered by these companies in the same manner as
          stated in this Privacy Statement.</span>
      </div>
      <div class=" shrink-0 font-['Inter'] lg:text-[20px] font-normal  lg:leading-[32px]  text-left z-[22]">
        <span class="font-['Inter'] lg:text-[20px] font-semibold  lg:leading-[32px] text-[#403f3e]  text-left">Web
          Beacon:</span><span
          class="flex  justify-start items-start  font-['Inter'] lg:text-[20px] font-normal leading-[32px] text-[#403f3e] m-5 text-left">
          <br />Certain pages on the website contain “web beacons” (also known as
          Internet tags, pixel tags and clear GIFs). These web beacons allow third
          parties to obtain information such as the IP Address (defined below) of
          the computer that downloaded the page on which the beacon appears, the
          URL of the page on which the beacon appears, the time the page
          containing the beacon was viewed, the type of browser used to view the
          page, and the information in cookies set by the third party. Web beacons
          also may be used to track whether you have opened an HTML email. When
          the email is opened, a part of the code that makes up the HTML page
          calls a web server to load the web beacon that then generates a record
          showing that the email has been viewed. Web beacons may also recognize
          when the email was opened, how many times it was forwarded, and which
          URLs (links within the email) were clicked.</span>
      </div>
      <div class=" shrink-0 font-['Inter'] text-[20px] font-normal leading-[32px]  text-left z-[23]">
        <span class="font-['Inter'] text-[20px] font-semibold leading-[32px] text-[#403f3e]  text-left">IP
          Addresses:<br /></span><span
          class="flex  justify-start items-start  font-['Inter'] lg:text-[20px] font-normal leading-[32px] text-[#403f3e] m-5 text-left">When
          you visit
          and interact with the website, we and third parties with
          whom we have contracted to provide services for us may collect Internet
          Protocol addresses (each an “IP Address”), as well as browser type,
          Internet service provider (ISP), referring/exit pages, platform type,
          date/time stamp, and page navigation. An IP Address is a unique
          identifier number that certain electronic devices use to identify and to
          communicate with each other on the Internet; your ISP automatically
          assigns an IP Address to the computer that you are using. We gather this
          information to track web site visitor movement in the aggregate, and to
          gather broad demographic information for aggregate use. Our goal in
          gathering this information is to learn how our customers and the public
          are using our service. We may use this information to enhance our
          website or for other lawful purposes.</span>
      </div>
    </div>

    <!--block 2-->
    <div
      class="flex cursor-pointer p-4 justify-between items-center self-stretch shrink-0  border-solid border-b border-b-[#cccccc]">
      <span (click)="toggleDropdown('two')"
        class="font-['Roboto_Serif'] lg:text-[24px] font-medium leading-[32px] text-[#1f1f1f]  text-left">How
        We Protect Your Information</span>
      <svg (click)="toggleDropdown('two')" xmlns="http://www.w3.org/2000/svg"
        class="cursor-pointer h-6 w-6 ml-2 transition-transform duration-300 ease-in-out"
        [ngClass]="{'rotate-180': openDropdownId=='two'}" fill="none" viewBox="0 0 24 24" stroke="currentColor"
        stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
      </svg>
    </div>
    <span *ngIf="openDropdownId=='two'"
      class="flex  justify-start items-start font-['Inter'] lg:text-[20px] font-normal leading-[32px] text-[#403f3e] m-5 text-left">We
      implement reasonable security measures to protect your Personal
      Information from unauthorized access and misuse. However, security risk is
      inherent in all internet and information technologies, and we cannot
      guarantee the security of your Personal Information.</span>

    <!--Block 3-->
    <div
      class="flex cursor-pointer p-4 justify-between items-center self-stretch shrink-0  border-solid border-b border-b-[#cccccc]">
      <span (click)="toggleDropdown('third')"
        class="font-['Roboto_Serif'] lg:text-[24px] font-medium leading-[32px] text-[#1f1f1f]  text-left ">How
        We Share Your Information</span>
      <svg (click)="toggleDropdown('third')" xmlns="http://www.w3.org/2000/svg"
        class="cursor-pointer h-6 w-6 ml-2 transition-transform duration-300 ease-in-out"
        [ngClass]="{'rotate-180': openDropdownId=='third'}" fill="none" viewBox="0 0 24 24" stroke="currentColor"
        stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
      </svg>
    </div>
    <div *ngIf="openDropdownId=='third'">
      <span
        class="flex  justify-start items-start font-['Inter'] lg:text-[20px] font-normal leading-[32px] text-[#403f3e] m-5 text-left">We
        do not share your Personal Information with third parties without your
        consent, except in the circumstances described below. Note that we have
        strict confidentiality agreements with any third parties with whom we may
        share your Personal Information.</span><span
        class=" font-['Inter'] text-[16px] font-normal leading-[32px] text-[#403f3e]  text-left ">[Affiliates:
        We may share your Personal Information with our corporate
        parent, subsidiaries, and affiliates, for purposes consistent with this
        Privacy Statement.]</span>
      <div class="font-['Inter'] lg:text-[20px] font-normal   text-left">
        <span class="font-['Inter'] lg:text-[20px] font-semibold  text-[#403f3e]  text-left">Service
          providers:</span><span
          class="flex  justify-start items-start  font-['Inter'] lg:text-[20px] font-normal  text-[#403f3e] m-2 text-left">
          We may share your Personal Information with third party companies and
          individuals that provide services on our behalf or help us operate our
          business (such as customer support, hosting, analytics, email delivery,
          marketing, and database management services). These third parties may
          use your Personal Information only as directed or authorized by us and
          in a manner consistent with this Privacy Statement and are prohibited
          from using or disclosing your information for any other purpose.</span>
      </div>
      <span
        class="flex  justify-start items-start font-['Inter'] lg:text-[20px] font-normal  text-[#403f3e] m-2 text-left">[Professional
        advisors: We may disclose your Personal Information to
        professional advisors, such as lawyers, bankers, auditors, and insurers,
        where necessary in the course of the professional services that they
        render to us.]</span>
      <div class=" shrink-0 font-['Inter'] lg:text-[20px] font-normal   text-left z-[35]">
        <span class="font-['Inter'] lg:text-[20px] font-semibold  text-[#403f3e]  text-left">For
          compliance, fraud prevention, and safety:</span><span
          class="flex  justify-start items-start font-['Inter'] lg:text-[20px] font-normal  text-[#403f3e] m-5 text-left">
          We may share your Personal Information for the compliance, fraud
          prevention, and safety purposes described above.<br /></span><span
          class="font-['Inter'] lg:text-[20px] font-semibold  text-[#403f3e]  text-left">Business
          transfers:</span><span
          class="flex  justify-start items-start font-['Inter'] lg:text-[20px] font-normal  text-[#403f3e] m-5 text-left">
          We may sell, transfer or otherwise share some or all of our business or
          assets, including your Personal Information, in connection with a
          business transaction (or potential business transaction) such as a
          merger, consolidation, acquisition, or reorganization, or in the event
          of bankruptcy or dissolution. In such a case, we will make reasonable
          efforts to require the recipient to honor the Privacy Statement.</span>
      </div>
    </div>

    <!--Block 4-->
    <div
      class="flex cursor-pointer p-4 justify-between items-center self-stretch shrink-0  border-solid border-b border-b-[#cccccc]">
      <span (click)="toggleDropdown('fourth')"
        class="font-['Roboto_Serif'] lg:text-[24px] font-medium leading-[32px] text-[#1f1f1f]  text-left ">Third
        Party Websites</span>
      <svg (click)="toggleDropdown('fourth')" xmlns="http://www.w3.org/2000/svg"
        class="cursor-pointer h-6 w-6 ml-2 transition-transform duration-300 ease-in-out"
        [ngClass]="{'rotate-180': openDropdownId=='fourth'}" fill="none" viewBox="0 0 24 24" stroke="currentColor"
        stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
      </svg>
    </div>
    <span *ngIf="openDropdownId=='fourth'"
      class="flex  justify-start items-start font-['Inter'] lg:text-[20px] font-normal leading-[32px] text-[#403f3e] m-5 text-left">We
      provide links to a variety of third-party social media sites and/or
      websites – such as Facebook, X, and LinkedIn - to provide you additional
      venues in which you can learn about, share, and discuss the activities of
      ARCD. Please note that unless otherwise indicated we have no affiliation
      with any of these other websites that you may visit via any such links and
      cannot control and are not responsible for the information collection,
      use, and disclosure practices of such third parties. We encourage you to
      review and understand their privacy practices and policies, if any, prior
      to providing any Personal Information to them. We are not responsible for
      the content or information of these websites, any products, services,
      advertising, or opportunities that may be offered through these websites,
      or any other use of the linked websites.</span>

    <!--Block 5-->
    <div
      class="flex cursor-pointer p-4 justify-between items-center self-stretch shrink-0  border-solid border-b border-b-[#cccccc]">
      <span (click)="toggleDropdown('5')"
        class=" font-['Roboto_Serif'] lg:text-[24px] font-medium leading-[32px] text-[#1f1f1f]  text-left">How
        Long We Retain Your Information</span>
      <svg (click)="toggleDropdown('5')" xmlns="http://www.w3.org/2000/svg"
        class="cursor-pointer h-6 w-6 ml-2 transition-transform duration-300 ease-in-out"
        [ngClass]="{'rotate-180': openDropdownId=='5'}" fill="none" viewBox="0 0 24 24" stroke="currentColor"
        stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
      </svg>
    </div>
    <div *ngIf="openDropdownId=='5'" class="font-['Inter'] lg:text-[20px] font-normal leading-[32px]  text-left">
      <span
        class="flex  justify-start items-start font-['Inter'] lg:text-[20px] font-normal leading-[32px] text-[#403f3e] m-5 text-left">We
        will
        retain your Personal Information for as long as your account is
        active or as is reasonable and customary given the nature of the
        relationship you have with ARCD. Please note we may need to retain
        certain information for record keeping purposes, and there may also be
        residual information that will remain within our databases and other
        records, which will not be removed from such locations. If you wish to
        cancel your account or request that we no longer use your information to
        provide you services, contact us at</span><span
        class="font-['Inter'] lg:text-[20px] font-semibold leading-[32px] text-[#403f3e]  text-left">
        info&#64;arcdus.org.</span><span
        class="flex  justify-start items-start  font-['Inter'] lg:text-[20px] font-normal leading-[32px] text-[#403f3e] m-5 text-left">
        We will retain and use your information as necessary to comply with our
        legal obligations, resolve disputes, and enforce our agreements.</span>
    </div>

    <!--block 6-->
    <div
      class="flex cursor-pointer p-4 justify-between items-center self-stretch shrink-0  border-solid border-b border-b-[#cccccc]">
      <span (click)="toggleDropdown('6')"
        class="font-['Roboto_Serif'] lg:text-[24px] font-medium leading-[32px] text-[#1f1f1f]  text-left ">Your
        Rights to Your Personal Information</span>
      <svg (click)="toggleDropdown('6')" xmlns="http://www.w3.org/2000/svg"
        class="cursor-pointer h-6 w-6 ml-2 transition-transform duration-300 ease-in-out"
        [ngClass]="{'rotate-180': openDropdownId=='6'}" fill="none" viewBox="0 0 24 24" stroke="currentColor"
        stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
      </svg>
    </div>
    <div *ngIf="openDropdownId=='6'" class="self-stretch shrink-0 font-['Inter'] lg:text-[20px] font-normal  text-left">
      <span
        class="flex  justify-start items-start self-stretch shrink-0 font-['Inter'] lg:text-[20px] font-normal  text-[#403f3e] m-5 text-left">You
        have the
        right to access, correct, or delete your personal
        information. You can also opt- out of receiving promotional
        communications from us. If you would like to exercise these rights,
        please contact us at </span><span
        class="font-['Inter'] lg:text-[20px] font-semibold leading-[32px] text-[#403f3e] ms-5 text-left">info&#64;arcdus.org.</span>
    </div>

    <!--block 7-->
    <div
      class="flex cursor-pointer p-4 justify-between items-center self-stretch shrink-0  border-solid border-b border-b-[#cccccc]">
      <span (click)="toggleDropdown('7')"
        class=" font-['Roboto_Serif'] lg:text-[24px] font-medium leading-[32px] text-[#1f1f1f]  text-left ">Transfer
        of Information/Data to Other Countries</span>
      <svg (click)="toggleDropdown('7')" xmlns="http://www.w3.org/2000/svg"
        class="cursor-pointer h-6 w-6 ml-2 transition-transform duration-300 ease-in-out"
        [ngClass]="{'rotate-180': openDropdownId=='7'}" fill="none" viewBox="0 0 24 24" stroke="currentColor"
        stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
      </svg>
    </div>
    <span *ngIf="openDropdownId=='7'"
      class="flex  justify-start items-start self-stretch shrink-0 font-['Inter'] lg:text-[20px] font-normal leading-[32px] text-[#403f3e] m-5 text-left">Please
      note that our website is hosted in the United States and are
      governed by United States law. If you are visiting the website from
      outside the United States, please be aware that your Personal Information
      will be transferred to, stored, and processed in the United States where
      our servers are located and our central database is operated. The data
      protection and other laws of the United States and other countries might
      not be as comprehensive as those in your country.</span>
    <!--block 8-->
    <div
      class="flex cursor-pointer p-4 justify-between items-center self-stretch shrink-0  border-solid border-b border-b-[#cccccc]">
      <span (click)="toggleDropdown('8')"
        class=" font-['Roboto_Serif'] lg:text-[24px] font-medium leading-[32px] text-[#1f1f1f]  text-left ">Children
        and Privacy</span>
      <svg (click)="toggleDropdown('8')" xmlns="http://www.w3.org/2000/svg"
        class="cursor-pointer h-6 w-6 ml-2 transition-transform duration-300 ease-in-out"
        [ngClass]="{'rotate-180': openDropdownId=='8'}" fill="none" viewBox="0 0 24 24" stroke="currentColor"
        stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
      </svg>
    </div>
    <div *ngIf="openDropdownId=='8'"
      class="self-stretch shrink-0 font-['Inter'] lg:text-[20px] font-normal leading-[32px]  text-left">
      <span
        class="flex  justify-start items-start self-stretch shrink-0 font-['Inter'] lg:text-[20px] font-normal leading-[32px] text-[#403f3e] m-5 text-left ">We
        do not
        knowingly collect, use, or disclose Personal Information
        about children under the age of 16. If you are under the age of 16, you
        must ask your parent or guardian to assist you while accessing/viewing
        our website. If you are the parent or guardian of a child under 16 years
        of age and believe that they have disclosed Personal Information to us,
        please contact us at </span><span
        class="font-['Inter'] lg:text-[20px] font-semibold leading-[32px] text-[#403f3e]  text-left">info&#64;arcdus.org</span><span
        class="font-['Inter'] lg:text-[20px] font-normal leading-[32px] text-[#403f3e]  text-left">
        and we will promptly address the situation.</span>
    </div>

    <!--Block 10-->
    <div
      class="flex cursor-pointer p-4 justify-between items-center self-stretch shrink-0  border-solid border-b border-b-[#cccccc]">
      <span (click)="toggleDropdown('10')"
        class=" font-['Roboto_Serif'] lg:text-[24px] font-medium leading-[32px] text-[#1f1f1f]  text-left">Changes
        to Our Privacy Statement</span>
      <svg (click)="toggleDropdown('10')" xmlns="http://www.w3.org/2000/svg"
        class="cursor-pointer h-6 w-6 ml-2 transition-transform duration-300 ease-in-out"
        [ngClass]="{'rotate-180': openDropdownId=='10'}" fill="none" viewBox="0 0 24 24" stroke="currentColor"
        stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
      </svg>
    </div>
    <span *ngIf="openDropdownId=='10'"
      class="flex  justify-start items-start self-stretch shrink-0 font-['Inter'] lg:text-[20px] font-normal leading-[32px] text-[#403f3e] m-5 text-left ">We
      reserve the right to modify this Privacy Statement at any time. If we
      make material changes to this statement, we will notify you by updating
      the date of the statement and posting it on our website. We may (and if
      required by law will) also provide notification of<br />changes in another
      way that we believe is reasonably likely to reach you, such as by email
      (if we have your contact information) or another manner through the
      website.<br /><br />Any modifications to this Privacy Statement will be
      effective upon our posting the new terms. In all cases, your continued use
      of the website after the posting of any modified Privacy Statement
      indicates your acceptance of the revisions.</span>

    <!-- Contact us -->
    <ng-container>
      <div class="flex p-4  ">
        <span class=" font-['Roboto_Serif'] text-[24px] font-medium  text-[#1f1f1f]  text-left">How
          to Contact Us</span>

      </div>
      <span
        class="flex px-5 justify-start items-start self-stretch shrink-0  font-['Inter'] lg:text-[20px] font-normal  text-[#403f3e]  text-left overflow-hidden ">
        we are grateful for your support. If you have any questions about ARCD
        Privacy Statement,<br />please contact us: <br /><br />Africa Relief and Community Development</span>
      <div class="flex flex-col gap-2  my-2">
        <div class="flex p-4  bg-[#fff] border-solid border border-[#dedede]  ">
          <span class=" text-[20px]  leading-[32px] text-[#403f3e]  text-left ">65
            Kingsland Ave Suite#2, Clifton, NJ 07014</span>
        </div>
        <div class="flex items-center justify-between gap-2">
          <div class="flex p-4 bg-[#fff] border-solid border w-full border-[#dedede] ">

            <a href="mailto:info@arcdus.org" onclick="window.open('mailto:info@arcdus.org'); return false;"
              class="text-[20px] font-normal leading-[32px] text-[#403f3e]  text-left ">
              info&#64;arcdus.org
            </a>
          </div>
          <div class="flex p-4 gap-[12px]  bg-[#fff] border-solid border w-full border-[#dedede]">
            <a href="tel:+17322462360" onclick="window.open('tel:+17322462360'); return false;"
              class="text-[20px] font-normal leading-[32px] text-[#403f3e]  text-left ">
              (732) 246-2360
            </a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>


</div>