<div class="partners-slider-container">
  <div class="container flex justify-between items-center ">
    <app-icon-arrow-left (click)="slider.prev()"/>
    <div class="keen-slider container" #sliderRef>
      <div class="keen-slider__slide slide-item">
        <img src="/assets/images/partners-logos/AAFD.webp" alt="xxxxxxxxxx" loading="lazy">
      </div>
      <div class="keen-slider__slide slide-item">
        <img src="/assets/images/partners-logos/COV.webp" alt="COV" loading="lazy">
      </div>
      <div class="keen-slider__slide slide-item">
        <img src="/assets/images/partners-logos/HS.webp" alt="HS" loading="lazy">
      </div>
      <div class="keen-slider__slide slide-item">
        <img src="/assets/images/partners-logos/IMA.webp" alt="IMA" loading="lazy">
      </div>
      <div class="keen-slider__slide slide-item">
        <img src="/assets/images/partners-logos/IRN.webp" alt="IRN" loading="lazy">
      </div>
      <div class="keen-slider__slide slide-item">
        <img src="/assets/images/partners-logos/ISDF2-1.webp" alt="ISDF2-1" loading="lazy">
      </div>
      <div class="keen-slider__slide slide-item">
        <img src="/assets/images/partners-logos/LBE.webp" alt="LBE" loading="lazy">
      </div>
      <div class="keen-slider__slide slide-item">
        <img src="/assets/images/partners-logos/MHG.webp" alt="MHG" loading="lazy">
      </div>
      <div class="keen-slider__slide slide-item">
        <img src="/assets/images/partners-logos/MHGG.webp" alt="MHGG" loading="lazy">
      </div>
      <div class="keen-slider__slide slide-item">
        <img src="/assets/images/partners-logos/MHZ.webp" alt="MHZ" loading="lazy">
      </div>
      <div class="keen-slider__slide slide-item">
        <img src="/assets/images/partners-logos/NCC.webp" alt="NCC" loading="lazy">
      </div>
      <div class="keen-slider__slide slide-item">
        <img src="/assets/images/partners-logos/RCD.webp" alt="RCD" loading="lazy">
      </div>
      <div class="keen-slider__slide slide-item">
        <img src="/assets/images/partners-logos/ROKMH.webp" alt="ROKMH" loading="lazy">
      </div>
      <div class="keen-slider__slide slide-item">
        <img src="/assets/images/partners-logos/ROM.webp" alt="ROM" loading="lazy">
      </div>
      <div class="keen-slider__slide slide-item">
        <img src="/assets/images/partners-logos/SSC.webp" alt="SSC" loading="lazy">
      </div>
      <div class="keen-slider__slide slide-item">
        <img src="/assets/images/partners-logos/UOSSM.webp" alt="UOSSM" loading="lazy">
      </div>
      <div class="keen-slider__slide slide-item">
        <img src="/assets/images/partners-logos/WMR.webp" alt="WMR" loading="lazy">
      </div>
    </div>
    <app-icon-arrow-right (click)="slider.next()"/>
  </div>
</div>
