<div class="flex flex-col gap-8">
  <h1 class="text-body-1-roboto text-primary pt-8 ps-8">Subscriptions</h1>
  <div class="min-w-[400px] overflow-x-auto whitespace-nowrap">
    <table class="w-full table-auto">
      <thead>
        <tr class="bg-gray-light text-left">
          <th class="text-body-3 py-3 px-6">Subscription</th>
          <th class="text-body-3 py-3 px-6">Next Renewal</th>
          <th class="text-body-3 py-3 px-6">Project</th>
          <th class="text-body-3 py-3 px-6">Status</th>
          <th class="text-body-3 py-3 px-6 sticky end-0 bg-gray-light"></th>
        </tr>
      </thead>
      <tbody>
        @for (subscription of subscriptions; track subscription.id) {
          <tr class="p-3 text-body-3 bg-white">
            <td class="py-3 px-6">
              <span class="text-primary">{{subscription.recurring_amount | currency}}</span>
              <span class="text-gray-dark"> / {{subscription.period | titlecase}}</span>
            </td>
            <td class="py-3 px-6">{{subscription.expiration_at | date: 'YYYY-MM-dd h:mm a'}}</td>
            <td class="py-3 px-6">{{subscription.donation_form.title}}</td>
            @switch (subscription.status) {
              @case ('active') {
                <td class="py-3 px-6"><app-badge type="success" label="Active"/></td>
              }
              @case ('cancelled') {
                <td class="py-3 px-6"><app-badge type="danger" label="Cancelled"/></td>
              }
              @case ('incomplete') {
                <td class="py-3 px-6"><app-badge type="info" label="Incomplete"/></td>
              }
            }
            @if (subscription.status == 'active') {
              <td class="py-3 px-6 sticky end-0 bg-white">
                <button class="text-gray-dark border border-gray-light py-2 px-3">Cancel</button>
              </td>
            } @else {
              <td></td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>