<div class="flex flex-col gap-8">
  <h1 class="text-body-1-roboto text-primary pt-8 ps-8">Subscriptions</h1>
  <div class="min-w-[400px] overflow-x-auto whitespace-nowrap hidden md:block">
    <table class="w-full table-auto">
      <thead>
        <tr class="bg-gray-light text-left">
          <th class="text-sm font-normal lg:text-body-3 py-3 px-3 lg:px-6">Subscription</th>
          <th class="text-sm font-normal lg:text-body-3 py-3 px-3 lg:px-6">Next Renewal</th>
          <th class="text-sm font-normal lg:text-body-3 py-3 px-3 lg:px-6">Project</th>
          <th class="text-sm font-normal lg:text-body-3 py-3 px-3 lg:px-6">Status</th>
          <th class="text-sm font-normal lg:text-body-3 py-3 px-3 lg:px-6 sticky end-0 bg-gray-light"></th>
        </tr>
      </thead>
      <tbody>
        @defer () {
        @for (subscription of subscriptions; track subscription.id) {
        <tr class="p-3 text-sm font-normal lg:text-body-3 bg-white">
          <td class="py-3 px-3 lg:px-6">
            <span class="text-primary">{{subscription.recurring_amount | currency}}</span>
            <span class="text-gray-dark"> / {{subscription.period | titlecase}}</span>
          </td>
          <td class="py-3 px-3 lg:px-6">{{subscription.expiration_date | date}}</td>
          <td class="py-3 px-3 lg:px-6">{{subscription.donation_form.title}}</td>
          @switch (subscription.status) {
          @case ('active') {
          <td class="py-3 px-3 lg:px-6"><app-badge type="success" label="Active" /></td>
          }
          @case ('canceled') {
          <td class="py-3 px-3 lg:px-6"><app-badge type="danger" label="Canceled" /></td>
          }
          @case ('cancelled') {
          <td class="py-3 px-3 lg:px-6"><app-badge type="danger" label="Canceled" /></td>
          }
          @case ('incomplete') {
          <td class="py-3 px-3 lg:px-6"><app-badge type="info" label="Incomplete" /></td>
          }
          }
          @if (subscription.status == 'active') {
          <td class="py-3 px-3 lg:px-6 sticky end-0 bg-white">
            <button class="text-gray-dark border border-gray-light py-2 px-3"
              (click)="onOpenCancelSubscriptionModal(subscription)">Cancel</button>
          </td>
          } @else {
          <td></td>
          }
        </tr>
        }
        @empty {
        <tr>
          <td class="p-8 text-center" colspan="5">No subscriptions founded...</td>
        </tr>
        }
        }
        @placeholder (minimum 1s) {
        @for (item of [0,1,2,3]; track $index) {
        <tr class="animate-pulse p-3 text-sm font-normal lg:text-body-3">
          <td>
            <div class="bg-gray-light h-10 my-4"></div>
          </td>
          <td>
            <div class="bg-gray-light h-10 ml-4 my-4"></div>
          </td>
          <td>
            <div class="bg-gray-light h-10 ml-4 my-4"></div>
          </td>
          <td>
            <div class="bg-gray-light h-10 ml-4 my-4"></div>
          </td>
          <td>
            <div class="bg-gray-light h-10 ml-4 my-4"></div>
          </td>
        </tr>
        }
        }
      </tbody>
    </table>
  </div>
  <!-- smal screens -->
  @defer () {

  @for (subscription of subscriptions; track subscription.id) {
  <div class="block md:hidden border border-[#E4E3E9]  w-[90%] mx-auto mb-3">
    <div class="p-4 " [ngClass]="{'border-b border-[#E4E3E9]':subscription.status == 'active'}">
      <div class="flex sm:justify-between sm:items-center flex-col sm:flex-row gap-4 mb-4 sm:gap-0">
        <div class="text-lg sm:text-base  font-medium">
          <p class="text-[#86898E] "> Subscription</p>
          <ng-container>
            <span class="text-[#348C3C]">{{subscription.recurring_amount | currency}}</span>
            <span class="text-gray-dark"> / {{subscription.period | titlecase}}</span>
          </ng-container>
        </div>
        <div class="text-lg sm:text-base  font-medium min-w-[32%]">
          <p class="text-[#86898E] "> Project</p>
          <p>{{subscription.donation_form.title}}</p>
        </div>
      </div>
      <div class="flex sm:justify-between sm:items-center  flex-col sm:flex-row gap-4 mb-4 sm:gap-0">
        <div class="text-lg sm:text-base  font-medium">
          <p class="text-[#86898E] "> Next Renewal</p>
          <p>{{subscription.expiration_date | date}}</p>
        </div>
        <div class="text-lg sm:text-base font-medium  min-w-[32%]">
          <p class="text-[#86898E]">Status</p>
          @switch (subscription.status) {
          @case ('active') {
          <app-badge type="success" label="Active" size="lg" />
          }
          @case ('canceled') {
          <app-badge type="danger" label="Canceled" size="lg" />
          }
          @case ('cancelled') {
          <app-badge type="danger" label="Canceled" size="lg" />
          }
          @case ('incomplete') {
          <app-badge type="info" label="Incomplete" size="lg" />
          }
          }
        </div>

      </div>
    </div>
    @if (subscription.status == 'active') {
    <div class="p-4 flex items-center justify-between">
      <button class="text-danger border border-gray-light py-2 px-3 w-full"
        (click)="onOpenCancelSubscriptionModal(subscription)">Cancel</button>

    </div> }
  </div>
  }
  @empty {
  <div>
    <p class="p-8 text-center">No subscriptions founded...</p>
  </div>
  }
  }
  @placeholder (minimum 1s) {
  @for (item of [0,1,2,3]; track $index) {
  <div class="animate-pulse p-3 text-sm font-normal lg:text-body-3 w-[90%] mx-auto mb-3 block md:hidden">
    <div>
      <div class="bg-gray-light h-80 sm:h-40"></div>
    </div>
  </div>
  }
  }
</div>

<app-modal title="Cancel Subscription" #cancelSubscriptionModal>
  <div class="flex flex-col gap-6">
    <p class="text-body-2-md">Are you sure you want to cancel this subscription?<br>This action cannot be undone.</p>
    <div class="flex justify-end gap-4">
      <button type="button" title="Close" class="bg-white border border-gray-light py-2 px-4 outline-none"
        (click)="cancelSubscriptionModal.closeModal()">Close</button>
      <button type="button" title="Cancel Subscription" class="text-white bg-danger py-2 px-4 outline-none"
        (click)="onCancelSubcription()">Cancel</button>
    </div>
  </div>
</app-modal>