<div class="container py-5 text-center">
  <app-breadcrumb
    basePath="/about"
    baseName="about"
    currentName="Executive Director"
  />
  <figure class="mt-14 flex m-auto w-56 h-56">
    <img src="assets/images/about/members/Executive Director.png" alt="youssef Abdallah"/>
  </figure>
  <h1 class="text-5xl font-medium my-7">Our Executive Director’s Vision</h1>
  <p class="text-xl text-gray-dark font-normal">
    “I envision philanthropy work that matches or exceeds the for-profit sector
    in quality and service to <br />
    obtain excellence, we practice integrity and dignity as our organizational
    and personal core values.”
  </p>
  <p class="text-right text-xl pe-24 my-10 font-normal">Yousef Abdallah</p>
  <div class="mt-24 text-left text-gray-dark text-xl font-normal">
    <p class="mb-12">
      Yousef Abdallah is the Executive Director of Africa Relief & Community
      Development and the founder and CEO of Alsafa Consulting. He draws upon
      over 20 years of experience in the non-profit sector to guide
      organizations in strategic planning, fundraising, and organizational
      resilience.
    </p>
    <p class="mb-12">
      He served as the Fund Development Director at Baitulmaal in Dallas, TX and
      as the East Coast Zone Manager at Islamic Relief USA in Alexandria, VA. He
      traveled extensively throughout South Asia, the Middle East, and Africa to
      provide emergency relief in response to global crises.
    </p>
    <p class="mb-12">
      Yousef Abdallah has been a Board member of the North Hudson Islamic
      Educational Center in Union City, NJ for 18 years. He was recognized by
      the Union City Council as a leader in community outreach and interfaith
      relations with the Union City Community Service Award in 2005. He is also
      co-founder of the Tri-State Imams Council, fostering cooperation and
      knowledge-sharing between community leaders in the tri-state area.
    </p>
    <p class="mb-10">
      Yousef Abdallah graduated with a degree in accounting from Al Quds
      University in Jerusalem, Palestine.
    </p>
  </div>
</div>
