<div class="max-w-[612px] mx-auto mt-10 mb-20">
  <div class="flex flex-col gap-6 p-6 mx-4 bg-white border border-gray-light">
    <h1 class="text-primary text-heading-3 text-center">Sign Up</h1>
    <form (submit)="onSignup()" [formGroup]="signupForm">
      <app-form-field>
        <app-form-label>Name*</app-form-label>
        <input appFormElement type="text" formControlName="name" placeholder="Full Name">
        <app-form-error [hasError]="signupForm.get('name').hasError('required') && signupForm.get('name').touched">Name is required.</app-form-error>
      </app-form-field>
      <app-form-field>
        <app-form-label>Email Address*</app-form-label>
        <input appFormElement type="email" formControlName="email" placeholder="example@example.com">
        <app-form-error [hasError]="signupForm.get('email').hasError('required') && signupForm.get('email').touched">Email is required.</app-form-error>
        <app-form-error [hasError]="signupForm.get('email').hasError('email') && signupForm.get('email').touched">Please enter valid email</app-form-error>
      </app-form-field>
      <app-form-field>
        <app-form-label>Password*</app-form-label>
        <div class="flex gap-2 border border-gray-light py-3 px-4">
          <input class="flex-1 outline-none" (input)="onTypePassword()" [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="Password">
          @if (showPassword) {
            <app-icon-eye class="cursor-pointer" (click)="showPassword = false"/>
          } @else {
            <app-icon-eye-off class="cursor-pointer" (click)="showPassword = true"/>
          }
        </div>
        <app-form-error [hasError]="signupForm.get('password').hasError('required') && signupForm.get('password').touched">Password is required.</app-form-error>
        <app-form-error [hasError]="signupForm.get('password').hasError('regex') && signupForm.get('password').touched">Invalid password, Please follow the hint.</app-form-error>
        <div class="flex gap-2 pt-4">
          <div class="relative h-1 w-full bg-gray-medium rounded-l before:absolute before:h-full before:bg-[#dc2626]" [ngClass]="{'before:w-full': passwordStrenth >= 1}"></div>
          <div class="relative h-1 w-full bg-gray-medium before:absolute before:h-full before:bg-[#ff9a33]" [ngClass]="{'before:w-full': passwordStrenth >= 2}"></div>
          <div class="relative h-1 w-full bg-gray-medium before:absolute before:h-full before:bg-[#ffcc00]" [ngClass]="{'before:w-full': passwordStrenth >= 3}"></div>
          <div class="relative h-1 w-full bg-gray-medium rounded-r before:absolute before:h-full before:bg-[#1a9104]" [ngClass]="{'before:w-full': passwordStrenth == 4}"></div>
        </div>
        <p class="text-gray-dark text-xs pt-4">hint: Use 8 or more characters with at least one lowercase, uppercase, number and symbol.</p>
      </app-form-field>
      <app-form-field>
        <app-form-label>Confirm Password*</app-form-label>
        <input appFormElement type="password" formControlName="confirm_password" placeholder="Confirm Password">
        <app-form-error [hasError]="signupForm.get('confirm_password').hasError('mismatch') && signupForm.get('confirm_password').touched">Password and Confirm Password must match.</app-form-error>
      </app-form-field>
      <app-form-button class="block mt-6" appearance="filled" [fullWidth]="true" [disabled]="signupForm.invalid">Sign Up</app-form-button>
    </form>
    <p class="text-center">Already have an account? <a class="text-primary" routerLink="/login">Login</a></p>
  </div>
</div>