<main class="flex flex-col gap-10 lg:gap-20 mb-10 lg:mb-20">

  <app-main-slider/>

  <!-- Donation Card Section -->
  <div class="container flex flex-col xl:flex-row justify-between gap-6">
    <div class="flex flex-col gap-6 xl:gap-8 xl:max-w-[718px]">
      <h2 class="text-heading-2 xl:max-w-[652px]">ALL Children Deserve an Equal Opportunity to Succeed in Life</h2>
      <div class="relative flex justify-center">
        <img class="w-full" src="/assets/images/home/Equal-Opportunity-to-Children.webp" alt="ALL Children Deserve an Equal Opportunity to Succeed in Life.webp">
        <div class="flex items-center absolute gap-1 top-1/2 start-1/2 -translate-x-1/2 -translate-y-1/2 pe-4 bg-black text-white cursor-pointer" (click)="toggleVideoModal()">
          <svg xmlns="http://www.w3.org/2000/svg" width="57" height="56" viewBox="0 0 57 56" fill="none">
            <mask id="mask0_814_3157" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="57"
                  height="56">
              <rect x="0.5" width="56" height="56" fill="#D9D9D9"/>
            </mask>
            <g mask="url(#mask0_814_3157)">
              <path d="M22.6667 38.5L39 28L22.6667 17.5V38.5ZM7.5 49V7H49.5V49H7.5Z" fill="#FFD500"/>
            </g>
          </svg>
          <span class="text-body-2">Watch Video</span>
        </div>
      </div>
    </div>
    @if (donationForm) {
      <app-donation-card [donationForm]="donationForm" class="flex-1 xl:max-w-[600px]">
        <div class="flex justify-between items-center py-2 px-4 cursor-pointer" (click)="scroll(donateThroughZelle)">
          <div class="flex items-center gap-2">
            <app-icon-zelle class="scale-75"/>
            <span class="text-body-3">Donate through Zelle</span>
          </div>
          <span class="text-primary">Click here</span>
        </div>
      </app-donation-card>
    }
    @else {
      <div class="animate-pulse flex flex-col gap-6 p-4 h-fit bg-white flex-1 xl:max-w-[600px]">
        <div class="bg-gray-light h-16"></div>
        <div class="bg-gray-light h-12"></div>
        <div class="flex flex-col gap-4">
          <div class="bg-gray-light h-3 w-2/6"></div>
          <div class="bg-gray-light h-10"></div>
          <div class="flex gap-4">
            <div class="bg-gray-light h-10 w-2/6"></div>
            <div class="bg-gray-light h-10 w-2/6"></div>
            <div class="bg-gray-light h-10 w-2/6"></div>
          </div>
        </div>
        <div class="bg-gray-light h-10"></div>
        <div class="bg-gray-light h-10"></div>
      </div>
    }
  </div>

  <!-- Video Modal -->
  @if (videoModalOpened) {
  <div @overlayAnimation class="bg-black w-full h-full fixed top-0 start-0 opacity-75 z-[999]"></div>
  <div @overlayAnimation class="flex justify-center items-center w-full h-full fixed top-0 left-0 z-[1000] overflow-y-auto overflow-x-hidden">
    <app-icon-close color="white" class="absolute top-8 right-8" (click)="toggleVideoModal()"/>
    <iframe class="w-[80%] md:w-[70%] aspect-video" src="https://www.youtube.com/embed/D-g7BIDOvH8?si=dAMwMhceqI2VVHEp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
  }

  <!-- Project Categories Silder -->
  <div #projectCategoriesSlider class="container flex flex-col gap-8">
    <!-- Section Header -->
    <div class="flex justify-between gap-6 items-start lg:items-end flex-col lg:flex-row">
      <div class="flex flex-col gap-2 max-w-[580px]">
          <h2 class="text-body-1-inter text-primary">About Us</h2>
          <h3 class="text-heading-2">We are In a Mission to Help the Helpless</h3>
        </div>
        <app-button-link path="/projects" label="Learn More" appearance="outlined-secondary" [icon]="true"/>
      </div>
    <app-project-categories-slider/>
  </div>

  @defer (on viewport(projectCategoriesSlider)) {
    <app-partners-slider #partnersSlider/>
  }
  @placeholder {
    <div class="animate-pulse h-24 border-y border-gray-light bg-white"></div>
  }

  @defer (on viewport(projectCategoriesSlider)) {
    <app-projects-slider-section/>
  }
  @placeholder {
    @for (item of [0,1,2]; track $index) {
      <div class="animate-pulse flex flex-col gap-6 bg-white border border-gray-light max-w-[400px] p-4">
        <div class="bg-gray-light h-72"></div>
        <div class="bg-gray-light h-3 w-2/6"></div>
        <div class="bg-gray-light h-4 w-5/6"></div>
        <div class="bg-gray-light h-4 w-4/6"></div>
        <div class="bg-gray-light h-8"></div>
      </div>
    }
  }

  <!-- Donate Through Zelle -->
  <div #donateThroughZelle class="py-12 text-white bg-primary bg-[url('/assets/images/shared/wave-bg.webp')] bg-cover bg-no-repeat">
    <div class="container flex flex-col lg:flex-row justify-between lg:items-center gap-8">
      <div class="flex flex-col gap-4">
        <div class="flex items-center gap-[8px]">
          <app-icon-zelle/>
          <span class="text-body-2-md">Zelle</span>
        </div>
        <h2 class="text-heading-2">Donate Through Zelle</h2>
        <div class="flex flex-col lg:flex-row gap-4">
          <a class="flex items-center gap-2 p-3 border border-white w-fit" href="mailto:info@arcdus.org" target="_blank" rel="nofollow">
            <app-icon-envelope/>
            info&#64;arcdus.org
          </a>
          <a class="flex items-center gap-2 p-3 border border-white w-fit" href="https://www.google.com/maps/place/65+Kingsland+Ave+%232,+Clifton,+NJ+07014,+USA/@40.8220369,-74.1305663,17z/data=!3m1!4b1!4m5!3m4!1s0x89c2ff53b0d250eb:0x85d6d40ce61b0d3d!8m2!3d40.8220329!4d-74.1279914?entry=ttu" target="_blank" rel="nofollow">
            <app-icon-pin/>
            65 Kingsland Ave, Suite#2, Clifton, NJ 07014
          </a>
        </div>
      </div>
      <img class="max-w-48 m-auto lg:m-0" src="/assets/images/home/zelle-qr.webp" alt="Zelle Qr Code">
    </div>
  </div>

  <app-safe-and-easy-donation/>

  <app-become-volunteer #becomeVolunteer/>

  <!-- Latest Blogs -->
  @defer (on viewport(becomeVolunteer)) {
    <app-latest-blogs/>
  }
  @placeholder {
    @for (item of [0,1,2]; track $index) {
      <div class="animate-pulse flex flex-col gap-6 bg-white border border-gray-light max-w-[400px] p-4">
        <div class="bg-gray-light h-72"></div>
        <div class="bg-gray-light h-3 w-2/6"></div>
        <div class="bg-gray-light h-4 w-5/6"></div>
        <div class="bg-gray-light h-4 w-4/6"></div>
        <div class="bg-gray-light h-8"></div>
      </div>
    }
  }
</main>
