
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

/* For use in src/lib/core/theming/_palette.scss */
$my-primary-color: (
  50 : #e4ebe5,
  100 : #bccdbe,
  200 : #90ac93,
  300 : #638b67,
  400 : #417247,
  500 : #205926,
  600 : #1c5122,
  700 : #18481c,
  800 : #133e17,
  900 : #0b2e0d,
  A100 : #6aff70,
  A200 : #37ff3f,
  A400 : #04ff0e,
  A700 : #00ea09,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$my-secondary-color: (
  50 : #fffae0,
  100 : #fff2b3,
  200 : #ffea80,
  300 : #ffe24d,
  400 : #ffdb26,
  500 : #ffd500,
  600 : #ffd000,
  700 : #ffca00,
  800 : #ffc400,
  900 : #ffba00,
  A100 : #ffffff,
  A200 : #fffbf2,
  A400 : #ffebbf,
  A700 : #ffe4a6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$AfricaReliefWebsite-primary: mat.define-palette($my-primary-color);
$AfricaReliefWebsite-accent: mat.define-palette($my-secondary-color);

// The warn palette is optional (defaults to red).
$AfricaReliefWebsite-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$AfricaReliefWebsite-theme: mat.define-light-theme((
  color: (
    primary: $AfricaReliefWebsite-primary,
    accent: $AfricaReliefWebsite-accent,
    warn: $AfricaReliefWebsite-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($AfricaReliefWebsite-theme);



// Custom styles for angular material components

