:root {
  --primary-color: #205926;
  --secondary-color: #FFD500;
  --dark-gray-color: #403F3E;
  --medium-gray-color: #CCCCCC;
  --light-gray-color: #DEDEDE;
  --desert-color: #F7F6F5;
  --white-color: #FFFFFF;
  --black-color: #1F1F1F;

  --base-text-color: #1F1F1F;
  --accent-text-color: #FFFFFF;
  --accent-2-text-color: #57585C;

  --header-bg-color: var(--accent-text-color);
  --header-link-color: var(--base-text-color);
  --header-link-hover-color: var(--accent-text-color);
  --header-link-hover-bg-color: var(--primary-color);
  --header-active-link-color: var(--accent-text-color);
  --header-active-link-bg-color: var(--primary-color);

  --footer-bg-color: #1F1F1F;
  --footer-link-color: lighten(--accent-text-color, 50%);
  --footer-link-hover-color: var(--accent-text-color);
  --footer-active-link-color: var(--accent-text-color);

  --error-text-color: #e74c3c;
}
