<div class="container py-5 mb-5">
  <app-breadcrumb
    basePath="/get-involved"
    baseName="get-involved"
    currentName="Donate Stock"
  />
  <h1 class="text-5xl font-medium my-7 text-black">Why Donate Stock?</h1>
  <p class="text-xl text-gray-dark font-normal">
    Donating stock to a non-profit organization benefits you and the non-profit.
    If you donate a stock that has increased in value, neither you nor the
    non-profit will pay a capital gains tax. Your donation is also
    tax-deductible if you itemize your taxes. 
  </p>
  <p class="text-xl mt-14 font-normal">
    Itemizing allows you to claim a deduction based on the value of the stock at
    the time of transfer (provided that you have owned the stock for at least
    one year and one day). 
  </p>
  <p class="text-xl mt-14 font-normal border-b border-gray-medium pb-10">
    Once you have completed your donation, you will receive a written
    confirmation of your contribution for your tax records.
  </p>
  <div
    class="mt-12 text-left text-gray-dark text-xl font-normal border-b border-gray-medium pb-10"
  >
    <h4 class="text-tertiary font-medium text-2xl mb-5">Consider Donating</h4>
    <ul class="list-disc ps-8">
      <li class="font-medium mb-2 text-black">
        Stocks Owned For At Least One Year
      </li>
      <p class="ps-0 mb-7">
        Donors obtain a larger tax benefit for stocks donated after 1 year.
        Stock sales are subject to capital gains taxes based on how long you
        have held the stock. 
      </p>

      <p class="ps-0 mb-7">
        If you have held a stock for less than 1 year, then the tax benefits are
        reduced. We encourage you to donate stocks held for at least one year
        and avoid donating stocks held for less than one year
      </p>
      <li class="font-medium mb-2 text-black">Successful Stocks</li>
      <p class="ps-0 mb-7">
        Stocks that have appreciated significantly are great to consider for a
        charitable contribution because they have a large capital gain at the
        time of sale. These are better stocks for a donation than stocks that
        have lost value.
      </p>
      <li class="font-medium mb-2 text-black">Publicly-Traded Stocks</li>
      <p class="ps-0 mb-7">
        It’s always best to donate a stock that trades on a public exchange
        because other stocks or assets are more complex security sales.
        Privately-held stocks, or restricted shares of public stock, are not
        ideal for charitable donations.
      </p>
    </ul>
  </div>
  <div class="mt-12 text-left text-gray-dark text-xl font-normal">
    <h4 class="text-tertiary font-medium text-2xl mb-5">Safe + Easy Donation</h4>
    <h2 class="text-5xl text-black font-medium my-7">
      Instructions for Donating Stocks: 
    </h2>
    <ul class="ps-2">
      <li class="font-medium mb-6 text-black flex items-center gap-3">
        <app-icon-click />
        Click the button below.
      </li>

      <li class="font-medium mb-6 text-black flex items-center gap-3">
        <app-icon-complete/>Complete the Stock Donator form
      </li>

    </ul>
    <p class="my-7 text-gray-dark text-xl">
Thank you!    </p>

    <a
      href="https://stockdonator.com/stock-information/?oid=cff874f4"
      target="_blank"
      class="flex items-center gap-3 border border-gray-medium text-tertiary bg-white py-3 px-6 w-fit"
    >
      Donate Stock To ARCD <app-icon-arrow-right></app-icon-arrow-right>
    </a>
  </div>
</div>
