<div class="container py-5 mb-5">
  <app-breadcrumb
    basePath="/get-involved"
    baseName="get-involved"
    currentName="Stock Donations"
  />
  <h1 class="text-5xl font-medium my-7 text-black">
    Donating Stock Is A Good Idea
  </h1>
  <p class="text-xl text-gray-dark font-normal">
    Donating stock to charity benefits both the donor and the charity
    organization. If a donor donates a stock that has increased in value,
    neither they nor ARCD will pay capital gains tax. What’s more, the donation
    is tax-deductible if the donor itemizes their taxes. This allows them to
    claim a deduction based on the value of the stock at the time of transfer
    (provided that they have owned the stock for at least one year and one
    day). 
  </p>
  <p class="text-xl mt-14 font-normal border-b border-gray-medium pb-10">
    Once the donation is complete, the donor will receive automatically a
    written confirmation of their contribution for their tax records. 
  </p>
  <div
    class="mt-12 text-left text-gray-dark text-xl font-normal border-b border-gray-medium pb-10"
  >
    <h4 class="text-primary font-medium text-2xl mb-5">
      Considerations for donors:
    </h4>
    <ul class="list-disc ps-8">
      <li class="font-medium mb-2 text-black">
        Stocks Owned For At Least One Year
      </li>
      <p class="ps-0 mb-7">
        Donors obtain a larger tax benefit for stocks donated after the 1-year
        threshold. Stock sales are subject to capital gains taxes based on how
        long the investor has held the stock.  If a stock has been held for less
        than 1 year, the tax benefits are reduced. We encourage donors to donate
        stocks held for at least one year and avoid donating stocks held for
        less than one year.
      </p>
      <li class="font-medium mb-2 text-black">Successful Stocks</li>
      <p class="ps-0 mb-7">
        Stocks that have appreciated significantly are great to consider for a
        charitable contribution because stocks that have increased in value have
        a large capital gain at the time of sale. Thus, these are good stocks to
        target for a donation as opposed to stocks that have lost value.
      </p>
      <li class="font-medium mb-2 text-black">Publicly-Traded Stocks</li>
      <p class="ps-0 mb-7">
        For the benefit of ARCD, it’s always best to donate a stock that trades
        on a public exchange because other stocks or assets are more complex
        security sales. Privately-held stocks, or restricted shares of public
        stock, are not ideal for charitable donations.
      </p>
    </ul>
  </div>
  <div class="mt-12 text-left text-gray-dark text-xl font-normal">
    <h4 class="text-primary font-medium text-2xl mb-5">Safe + Easy Donation</h4>
    <h2 class="text-5xl text-black font-medium my-7">
      Instructions for Donating Stocks: 
    </h2>
    <ul class="ps-2">
      <li class="font-medium mb-6 text-black flex items-center gap-3">
        <app-icon-click />
        Click the button below.
      </li>

      <li class="font-medium mb-6 text-black flex items-center gap-3">
        <app-icon-select /> Select our organization, Africa Relief & Community
        Development, from the dropdown menu.
      </li>

      <li class="font-medium mb-6 text-black flex items-center gap-3">
        <app-icon-follow /> instructions to complete the online form.
      </li>
    </ul>
    <p class="my-7 text-gray-dark text-xl">
      Donate Stock To Africa Relief & Community Development
    </p>

    <a
      href="https://stockdonator.com/stock-information/?oid=cff874f4"
      target="_blank"
      class="flex items-center gap-3 border border-gray-medium text-primary bg-white py-3 px-6 w-fit"
    >
      Donate Stock To ARCD <app-icon-arrow-right></app-icon-arrow-right>
    </a>
  </div>
</div>
