<div class="donation-card-section">
  <div class="container flex justify-between gap-[96px]">
    <div class="donation-details">
      <h2 class="text-heading-2 max-w-[652px]">ALL Children Deserve an Equal Opportunity to Succeed in Life</h2>
      <div class="image-container">
        <img src="/assets/images/home/Equal-Opportunity-to-Children.webp" alt="ALL Children Deserve an Equal Opportunity to Succeed in Life.webp">
        <div class="watch-video">
          <div class="play-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="57" height="56" viewBox="0 0 57 56" fill="none">
              <mask id="mask0_814_3157" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="57" height="56">
                <rect x="0.5" width="56" height="56" fill="#D9D9D9"/>
              </mask>
              <g mask="url(#mask0_814_3157)">
                <path d="M22.6667 38.5L39 28L22.6667 17.5V38.5ZM7.5 49V7H49.5V49H7.5Z" fill="#FFD500"/>
              </g>
            </svg>
          </div>
          <span class="text-body-2">Watch Video</span>
        </div>
      </div>
    </div>
    <app-donation-card />
  </div>
</div>
