.donation-card-section {

  .donation-details {
    max-width: 718px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    .image-container {
      position: relative;

      .watch-video {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 4px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-right: 16px;
        background-color: var(--black-color);
        color: var(--accent-text-color);
        cursor: pointer;
      }
    }
  }
}
