<div class="relative w-[calc(100vw-52px)] lg:w-full">
  <swiper-container init="false" class="blog-slider h-full">
    @for (slide of slides; track slide) {
      <swiper-slide>
        <img class="w-full h-[332px] lg:h-[480px] object-cover object-center" [src]="slide.src" [alt]="slide.alt" loading="lazy">
      </swiper-slide>
    }
  </swiper-container>

  <div class="flex justify-between w-full absolute top-1/2 -translate-y-1/2 z-10">
    <app-icon-arrow-left appIcon color="black" class="blog-slider-next cursor-pointer"/>
    <app-icon-arrow-right appIcon color="black" class="blog-slider-prev cursor-pointer"/>
  </div>
</div>