<main class="flex flex-col gap-6 mb-10 lg:mb-20">
  <!-- Blogs Header -->
  <div class="projects-header">
    <div class="container flex flex-col lg:flex-row gap-4 text-white">
        <div class="basis-1/2 flex flex-col gap-2">
          Home >> Our Projects
          <h1 class="text-heading-1">Our Projects</h1>
        </div>
        <p class="basis-1/2 text-body-2">THANKS TO THE GENEROSITY OF OUR DONORS
        <br>and the hard work of our expanding team, we have made a serious positive impact in more than 15 countries.</p>
    </div>
  </div>

  <app-categories-filter [categories]="projectCategories" basePath="/projects" baseTitle="All Projects"/>

  <div class="container grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-6">
    @for (project of projects; track project.slug) {
      <app-project-card [project]="project"/>
    }
  </div>
</main>