<main class="flex flex-col gap-6 mb-10 lg:mb-20">
  <!-- Blogs Header -->
  <div class="relative w-full h-auto py-12 bg-[url('/assets/images/shared/archive-header-bg.webp')] bg-cover bg-no-repeat bg-[center_top] md:bg-[center_-100px] after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-black after:bg-opacity-60 after:block">
    <div class="container flex flex-col lg:flex-row gap-4 text-white relative z-10">
        <div class="basis-1/2 flex flex-col gap-2">
          <app-breadcrumb currentName="Projects" appreance="white"/>
          <h1 class="text-heading-1">Our Projects</h1>
        </div>
        <p class="basis-1/2 text-body-2">THANKS TO THE GENEROSITY OF OUR DONORS
        <br>and the hard work of our expanding team, we have made a serious positive impact in more than 15 countries.</p>
    </div>
  </div>

  @defer () {
  <app-categories-filter [categories]="projectCategories" basePath="/projects" baseTitle="All Projects"/>

  <!--
    To enable InfinitScroll for projects add this
    event to <div> element of projects cards
    (scrolled)="onGetProjects()"
  -->
  <div class="container grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-6" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50">
    @for (project of projects; track project.slug) {
      <app-project-card [project]="project"/>
    }
  </div>
}
@placeholder (minimum 0.5s) {
  <div class="animate-pulse container flex gap-3 overflow-x-scroll no-scrollbar">
    <div class="bg-gray-light h-12 w-32"></div>
    <div class="bg-gray-light h-12 w-32"></div>
    <div class="bg-gray-light h-12 w-32"></div>
    <div class="bg-gray-light h-12 w-32"></div>
    <div class="bg-gray-light h-12 w-32"></div>
  </div>
  <div class="container grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-6">
    @for (item of [0,1,2,3,4,5]; track $index) {
      <div class="animate-pulse flex flex-col gap-6 bg-white border border-gray-light max-w-[400px] p-4">
        <div class="bg-gray-light h-72"></div>
        <div class="bg-gray-light h-3 w-2/6"></div>
        <div class="bg-gray-light h-4 w-5/6"></div>
        <div class="bg-gray-light h-16"></div>
        <div class="bg-gray-light h-8"></div>
      </div>
    }
  </div>
}
</main>