<div class="container py-5 mb-5">
  <app-breadcrumb basePath="/get-involved" baseName="get-involved" currentName="Matching Gifts" />
  <h1 class="text-5xl font-medium my-7 text-black">
    Amplify Your Impact With Matching Gifts
  </h1>
  <p class="text-xl text-gray-dark font-normal border-b border-gray-medium pb-16">
    Your donation could go even further with your employer’s corporate gift
    matching program. Many companies offer matching gift programs to support
    their employees’ charitable contributions, doubling—or even tripling—their
    impact. <br />
    That means more food for families, expanded access to clean drinking water,
    more orphaned children cared for, and more medical supplies sent to clinics
    all over the world . 
  </p>
  <h2 class="pt-10 text-5xl font-medium mb-6">
    Enrolling in a matching gifts program
    <span class="pt-2 block">takes only 3 steps:</span>
  </h2>
  <div class="mb-6">
    <div class="flex gap-2 items-center mb-2">
      <app-icon-employer />
      <p class="font-medium text-2xl">
        Verify that your employer participates in a matching gift program.
      </p>
    </div>
    <p class="text-gray-dark text-xl">
      Many companies offer matching gift programs to support their employees’
      charitable contributions
    </p>
  </div>
  <div class="mb-6">
    <div class="flex gap-2 items-center mb-2">
      <app-icon-gift />
      <p class="font-medium text-2xl">
        Confirm that ARCD is eligible under your employer’s matching gift
        program
      </p>
    </div>
    <p class="text-gray-dark text-xl">
      You can check that using the handy tool below.
    </p>
  </div>
  <div id="dd-container">
    <a href="https://doublethedonation.com/matching-grant-resources/matching-gift-basics/">Matching Gift</a> and
    <a href="https://doublethedonation.com/matching-grant-resources/volunteer-grant-basics/">Volunteer Grant</a>
    information provided by <br>
    <a href="https://doublethedonation.com">
      <img alt="Powered by Double the Donation" src="https://doublethedonation.com/api/img/powered-by.png" />
    </a>
  </div>
  <div class="mb-6">
    <div class="flex gap-2 items-center mb-2">
      <app-icon-submit />
      <p class="font-medium text-2xl">Submit your form.</p>
    </div>
    <p class="text-gray-dark text-xl">
      Once you’ve determined that your employer will match your contribution to
      ARCD,
    </p>
  </div>
  <ul class="list-disc px-5 mb-6">
    <li class="text-xl font-normal mb-1">
      Consult with your
      <span class="text-primary">Human Resources team</span> to obtain any
      necessary forms you’ll need to fill out.
    </li>
    <li class="text-xl font-normal mb-1">
      Send your completed form—with a copy of your donation receipt—to ARCD’s
      headquarter office:<span class="text-primary">
        Attn: Matching Gifts, 65 Kingsland Ave. Suite #2 Clifton, NJ
        07014.</span> 
    </li>
    <li class="text-xl font-normal mb-1">
      If your employer uses an online matching gift portal, complete the online
      form, noting the our address listed above. ARCD’s Tax Identification No.
      is <span class="text-primary">46-2568671.</span>
    </li>
  </ul>
  <div class="bg-white p-6 my-8">
    <p class="text-xl text-[#403F3E] leading-8">
      Questions about your charitable gifts? You can connect with an ARCD team
      member at <span class="text-primary"> 1-855-AR-DONATE </span>or at <br />
      <span class="text-primary"> info&#64;arcdus.org. </span> Thank you for
      your generosity and continued support!
    </p>
  </div>
</div>