<div class="flex flex-col gap-4 h-full justify-between bg-white border border-gray-light max-w-[400px] m-auto p-4">
  <div class="flex flex-col gap-2 relative">
    <img class="h-72 object-cover object-center" [src]="project.featuredImage.src" [alt]="project.featuredImage.alt" loading="lazy">
    <a class="absolute bottom-0 end-0 bg-secondary py-1 px-3" [routerLink]="'/projects/category/' + project.category.slug">{{ project.category.name }}</a>
  </div>
  <h4 class="text-body-1-inter line-clamp-2">{{ project.title }}</h4>
  <p class="text-body-3 line-clamp-3">{{ project.summary }}</p>
  <app-button-link label="Donate Now" [path]="'/projects/' + project.slug" appearance="outlined-primary" [fullWidth]="true"/>
</div>