<div class="py-12 text-white bg-primary">
  <div class="container flex flex-col lg:flex-row justify-between lg:items-center gap-8">
    <div class="flex flex-col gap-4">
      <div class="flex items-center gap-[8px]">
        <app-icon-zelle/>
        <span class="text-body-2-md">Zelle</span>
      </div>
      <h2 class="text-heading-2">Donate Through Zelle</h2>
      <div class="flex flex-col lg:flex-row gap-4">
        <a class="flex items-center gap-2 p-3 border border-white w-fit" href="mailto:info@arcdus.org" target="_blank" rel="nofollow">
          <app-icon-envelope/>
          info&#64;arcdus.org
        </a>
        <a class="flex items-center gap-2 p-3 border border-white w-fit" href="https://map.google.com" target="_blank" rel="nofollow">
          <app-icon-pin/>
          65 Kingsland Ave, Suite#2, Clifton, NJ 07014
        </a>
      </div>
    </div>
    <img class="max-w-48 m-auto" src="/assets/images/home/zelle-qr.webp" alt="Zelle Qr Code">
  </div>
</div>
