.donate-zelle-container {
  padding: 48px 0;
  color: var(--accent-text-color);
  background-color: var(--primary-color);

  .details {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .contact-info {
      display: flex;
      gap: 16px;

      a {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 12px;
        border: 1px solid var(--white-color);
      }
    }
  }
}
