<div class="flex flex-col gap-8">
  <h1 class="text-body-1-roboto text-primary pt-8 ps-8">Donation History</h1>
  <div class="min-w-[400px] overflow-x-auto whitespace-nowrap">
    <table class="w-full table-auto">
      <thead>
        <tr class="bg-gray-light text-left">
          <th class="text-body-3 py-3 px-6">Amount</th>
          <th class="text-body-3 py-3 px-6">Project</th>
          <th class="text-body-3 py-3 px-6">Date</th>
          <th class="text-body-3 py-3 px-6">Status</th>
          <th class="text-body-3 py-3 px-6 sticky end-0 bg-gray-light"></th>
        </tr>
      </thead>
      <tbody>
        @for (donation of donations; track donation.id) {
          <tr class="p-3 text-body-3 bg-white">
            <td class="py-3 px-6 text-primary">{{donation.payment_amount | currency}}</td>
            <td class="py-3 px-6">{{donation.donation_form.title | titlecase}}</td>
            <td class="py-3 px-6">{{donation.completed_date | date: 'YYYY-MM-dd h:mm a'}}</td>
            @switch (donation.status) {
              @case ('succeeded') {
                <td class="py-3 px-6"><app-badge type="success" label="Succeeded"/></td>
              }
              @case ('abandoned') {
                <td class="py-3 px-6"><app-badge type="info" label="Abandoned"/></td>
              }
              @case ('failed') {
                <td class="py-3 px-6"><app-badge type="danger" label="Failed"/></td>
              }
              @case ('refunded') {
                <td class="py-3 px-6"><app-badge type="safe" label="Refunded"/></td>
              }
              @case ('pending') {
                <td class="py-3 px-6"><app-badge type="warning" label="Pending"/></td>
              }
            }
            <td class="py-3 px-6 sticky end-0 bg-white">
              <button class="text-gray-dark border border-gray-light py-2 px-3">View Receipt</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>