<div class="flex flex-col gap-8">
  <h1 class="text-body-1-roboto text-primary pt-8 ps-8">Donation History</h1>
  <div class="min-w-[400px] overflow-x-auto whitespace-nowrap">
    <table class="w-full table-auto">
      <thead>
        <tr class="bg-gray-light text-left">
          <th class="text-body-3 py-3 px-6">Amount</th>
          <th class="text-body-3 py-3 px-6">Project</th>
          <th class="text-body-3 py-3 px-6">Date</th>
          <th class="text-body-3 py-3 px-6">Status</th>
          <th class="text-body-3 py-3 px-6 sticky end-0 bg-gray-light"></th>
        </tr>
      </thead>
      <tbody>
        @defer () {
          @for (donation of donations; track donation.id) {
            <tr class="p-3 text-body-3 bg-white">
              <td class="py-3 px-6 text-primary">{{donation.payment_amount | currency}}</td>
              <td class="py-3 px-6">{{donation.donation_form.title | titlecase}}</td>
              <td class="py-3 px-6">{{donation.completed_date | date: 'YYYY-MM-dd h:mm a'}}</td>
              @switch (donation.status) {
                @case ('succeeded') {
                  <td class="py-3 px-6"><app-badge type="success" label="Succeeded"/></td>
                }
                @case ('incomplete') {
                  <td class="py-3 px-6"><app-badge type="info" label="Incomplete"/></td>
                }
                @case ('failed') {
                  <td class="py-3 px-6"><app-badge type="danger" label="Failed"/></td>
                }
                @case ('refunded') {
                  <td class="py-3 px-6"><app-badge type="safe" label="Refunded"/></td>
                }
              }
              <td class="py-3 px-6 sticky end-0 bg-white">
                <button class="text-gray-dark border border-gray-light py-2 px-3" (click)="onViewReceipt(donation)">View Receipt</button>
              </td>
            </tr>
          }
          @empty {
            <tr>
              <td class="p-8 text-center" colspan="5">No donations founded...</td>
            </tr>
          }
        }
        @placeholder (minimum 1s) {
          @for (item of [0,1,2,3]; track $index) {
            <tr class="animate-pulse p-3 text-body-3">
              <td><div class="bg-gray-light h-10 my-4"></div></td>
              <td><div class="bg-gray-light h-10 ml-4 my-4"></div></td>
              <td><div class="bg-gray-light h-10 ml-4 my-4"></div></td>
              <td><div class="bg-gray-light h-10 ml-4 my-4"></div></td>
              <td><div class="bg-gray-light h-10 ml-4 my-4"></div></td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</div>

<!-- View Receipt Modal -->
<app-modal title="Payment Receipt" maxWidth="500px" #receiptModal>
  @if (receiptDonation) {
    <div class="flex flex-col w-full gap-4">
      <div class="flex flex-col items-center gap-2 border border-gray-light py-4 px-6">
        <img class="w-20 h-20" src="assets/images/logo.webp" alt="Africa Relief Logo" loading="lazy">
        <h2 class="text-body-2-md text-center">Africa Relief & Community Development</h2>
      </div>
      <div class="flex flex-col gap-3 border border-gray-light py-4 px-6">
        <h3 class="text-body-3 !font-semibold">Donor Information</h3>
        <hr class="text-gray-light">
        <ul>
          <li>Name: <span class="text-body-3">{{receiptDonation.donor_billing_name | titlecase}}</span></li>
          <li>Email: <span class="text-body-3">{{receiptDonation.donor.email}}</span></li>
        </ul>
      </div>
      <div class="flex flex-col gap-3 border border-gray-light py-4 px-6">
        <h3 class="text-body-3 !font-semibold">Payment Information</h3>
        <hr class="text-gray-light">
        <ul>
          <li>Payment ID: <span class="text-body-3">{{receiptDonation.id}}</span></li>
          <li>Amount: <span class="text-body-3">{{receiptDonation.payment_amount | currency}}</span></li>
          <li>Date of Payment: <span class="text-body-3">{{receiptDonation.completed_date | date:'MMM d Y h:m a'}}</span></li>
          <li>Project Name: <span class="text-body-3">{{receiptDonation.donation_form.title | titlecase}}</span></li>
        </ul>
      </div>
      <!-- <app-form-button appearance="outlined" [fullWidth]="true">Print</app-form-button> -->
    </div>
  }
</app-modal>