<div class="container">
  <swiper-container class="board-members-slider" init="false" [init]="false">
    @for (member of members; track member) {
      <swiper-slide class="max-w-[294px]">
        <div class="w-full h-[320px] bg-gray-light">
          <img class="h-full object-cover object-center" appImgPlaceholder [src]="member.image.src" [alt]="member.image.alt" loading="lazy">
        </div>
        <h4 class="text-body-1-inter pt-4 pb-1">{{member.name}}</h4>
        <p class="text-body-2 text-gray-dark">{{member.position}}</p>
      </swiper-slide>
    }
  </swiper-container>

  <!-- Slider Navigation -->
  <div class="flex justify-end items-center gap-4 mt-6">
    <app-icon-arrow-left appIcon appearance="outlined" class="member-slide-prev cursor-pointer"/>
    <app-icon-arrow-right appIcon appearance="outlined" class="member-slide-next cursor-pointer"/>
  </div>
</div>