<div class="max-w-[612px] mx-auto mt-10 mb-20">
  <div class="flex flex-col gap-6 p-6 mx-4 bg-white border border-gray-light">
    @if (resetPasswordForm.controls.token.value && resetPasswordForm.controls.email.value && true) {
      <h1 class="text-primary text-heading-3 text-center">Reset Password</h1>
      <form (submit)="onResetPassword()" [formGroup]="resetPasswordForm">
        <app-form-field>
          <app-form-label>New Password*</app-form-label>
          <div class="flex gap-2 border border-gray-light py-3 px-4">
            <input class="flex-1 outline-none" (input)="onTypePassword()" [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="Password">
            @if (showPassword) {
              <app-icon-eye class="cursor-pointer" (click)="showPassword = false"/>
            } @else {
              <app-icon-eye-off class="cursor-pointer" (click)="showPassword = true"/>
            }
          </div>
          <app-form-error [hasError]="resetPasswordForm.get('password').hasError('required') && resetPasswordForm.get('password').touched">Password is required.</app-form-error>
          <app-form-error [hasError]="resetPasswordForm.get('password').hasError('pattern') && resetPasswordForm.get('password').touched">{{ resetPasswordForm.get('password').errors?.['pattern'] }}</app-form-error>
          <app-form-error [hasError]="resetPasswordForm.get('password').hasError('serverError')">{{ resetPasswordForm.get('password').errors?.['serverError'] }}</app-form-error>
          <div class="flex gap-2 pt-4">
            <div class="relative h-1 w-full bg-gray-medium rounded-l before:absolute before:h-full before:bg-[#dc2626]" [ngClass]="{'before:w-full': passwordStrenth >= 1}"></div>
            <div class="relative h-1 w-full bg-gray-medium before:absolute before:h-full before:bg-[#ff9a33]" [ngClass]="{'before:w-full': passwordStrenth >= 2}"></div>
            <div class="relative h-1 w-full bg-gray-medium before:absolute before:h-full before:bg-[#ffcc00]" [ngClass]="{'before:w-full': passwordStrenth >= 3}"></div>
            <div class="relative h-1 w-full bg-gray-medium rounded-r before:absolute before:h-full before:bg-[#1a9104]" [ngClass]="{'before:w-full': passwordStrenth == 4}"></div>
          </div>
          <p class="text-gray-dark text-xs pt-4">hint: Use 8 or more characters with at least one lowercase, uppercase, number and symbol.</p>
        </app-form-field>
        <app-form-field>
          <app-form-label>Confirm Password*</app-form-label>
          <input appFormElement type="password" formControlName="password_confirmation" placeholder="Confirm Password">
          <app-form-error [hasError]="resetPasswordForm.hasError('mismatch') && resetPasswordForm.get('password_confirmation').touched">{{ resetPasswordForm.errors?.['mismatch'] }}</app-form-error>
        </app-form-field>
        <app-form-button class="block mt-6" appearance="filled" [fullWidth]="true" [disabled]="resetPasswordForm.invalid || resetPasswordFormDisabled">Reset Password</app-form-button>
      </form>
    } @else {
      <div class="animate-pulse flex flex-col gap-8">
        <div class="flex flex-col gap-2">
          <div class="bg-gray-light h-4 w-2/5"></div>
          <div class="bg-gray-light h-10"></div>
        </div>
        <div class="flex flex-col gap-2">
          <div class="bg-gray-light h-4 w-2/5"></div>
          <div class="bg-gray-light h-10"></div>
        </div>
        <div class="flex flex-col gap-2">
          <div class="bg-gray-light h-4 w-2/5"></div>
          <div class="bg-gray-light h-10"></div>
        </div>
        <div class="bg-gray-light h-12"></div>
      </div>
    }
  </div>
</div>