<div class="container mt-4 mb-10 lg:mb-20">
  <!-- Breadcrumb -->
  <app-breadcrumb basePath="/projects" baseName="Projects" [currentName]="project.title"/>

  <!-- Project Container -->
  <div class="grid lg:grid-cols-3 gap-6 mt-6">
    <!-- Project Summary -->
    <div class="flex flex-col gap-6 lg:col-span-2">
      <div class="relative">
        <img class="w-full h-[480px] object-cover object-center" [src]="project.featuredImage.src" [alt]="project.featuredImage.alt" loading="lazy">
        <a class="absolute bottom-0 start-0 bg-secondary py-1 px-3" [routerLink]="'/projects/category/' + project.category.slug">{{ project.category.name }}</a>
      </div>
      <!-- project title -->
      <h1 class="text-heading-1">{{project.title | titlecase}}</h1>
      <!-- project summary -->
      <p class="p-6 bg-white border border-gray-light">{{project.summary}}</p>
    </div>

    <!-- Donation Card -->
    <app-donation-card [donationLevels]="project.donationLevels" [recurringPeriods]="project.recurringPeriods" [fullyFundLevel]="project.fullyFundLevel"/>

    <!-- project content -->
    <div class="flex flex-col gap-6 lg:col-span-2">
      <div class="flex flex-col gap-6">
        @for (paragraph of project.content; track paragraph; let idx = $index) {
        <div class="flex flex-col gap-3">
          @if (!idx) {
          <div class="flex items-start gap-2">
            <app-icon-quote class="mt-2"/>
            <h2 class="text-body-1-inter">{{paragraph.heading}}</h2>
          </div>
          } @else {
            <h2 class="text-body-1-inter">{{paragraph.heading}}</h2>
          }
          <p class="text-body-2">{{paragraph.description}}</p>
        </div>
        }
      </div>

      <app-share-buttons />
    </div>
  </div>

  <!-- Latest Updates -->
  <div class="flex flex-col gap-8 mt-10 lg:mt-20">
      <div class="flex flex-col lg:flex-row gap-6 justify-between lg:items-end">
        <h2 class="text-heading-2">Latest Updates</h2>
        <app-button-link label="See All Blogs" path="/blogs" [icon]="true" appearance="outlined-secondary"/>
      </div>
      <div class="flex justify-center flex-wrap lg:flex-nowrap gap-6">
        @for (blog of project.latestUpdates; track blog) {
        <app-blog-card [blog]="blog"/>
        }
      </div>
  </div>
</div>