<div class="container mt-4 mb-10 lg:mb-20">
  @if (project) {
    <!-- Breadcrumb -->
    <app-breadcrumb basePath="/projects" baseName="Projects" [currentName]="project.title"/>

    <!-- Project Container -->
    <div class="grid lg:grid-cols-3 gap-6 mt-6">
      <!-- Project Summary -->
      <div class="flex flex-col gap-6 lg:col-span-2">
        <div class="relative">
          <div class="w-full h-[480px] bg-gray-light">
            <img class="h-full object-cover object-center" appImgPlaceholder [src]="project.featured_image.src" [alt]="project.featured_image.alt_text" loading="lazy">
          </div>
          <div class="absolute bottom-0 start-0 bg-secondary py-1 px-3">
            @for (category of project.categories; track category; let idx = $index) {
              <a [routerLink]="'/projects/category/' + category.slug">{{ category.name | titlecase }}</a>
              @if (project.categories.length > idx + 1 ) {
                <span>, </span>
              }
            }
          </div>      </div>
        <!-- project title -->
        <h1 class="text-heading-1">{{project.title | titlecase}}</h1>
        <!-- project summary -->
        <p class="p-6 bg-white border border-gray-light">{{project.excerpt}}</p>
      </div>

      <!-- Donation Card -->
      <app-donation-card [donationForm]="project.donation_form"/>

      <!-- project content -->
      <div class="flex flex-col gap-6 lg:col-span-2">
        <div class="flex flex-col gap-6">
          @for (content of project.contents; track content.order; let idx = $index) {
          <div class="flex flex-col gap-3">
            @if (!idx) {
            <div class="flex items-start gap-2">
              <app-icon-quote class="mt-2"/>
              <h2 class="text-body-1-inter">{{content.heading}}</h2>
            </div>
            } @else {
              <h2 class="text-body-1-inter">{{content.heading}}</h2>
            }
            <p class="text-body-2">{{content.body}}</p>
          </div>
          }
        </div>

        <app-share-buttons/>
      </div>
    </div>

    <!-- Related Projects -->
    <app-related-projects [currentProjectSlug]="project.slug"/>
  }
  @else () {
    <div class="animate-pulse bg-gray-light h-4 w-7/12"></div>
    <div class="animate-pulse grid lg:grid-cols-3 gap-10 mt-6">
      <div class="animate-pulse bg-gray-light h-[480px] lg:col-span-2"></div>

      <div class="flex flex-col gap-6 p-4 h-fit bg-white">
        <div class="bg-gray-light h-16"></div>
        <div class="bg-gray-light h-12"></div>
        <div class="flex flex-col gap-4">
          <div class="bg-gray-light h-3 w-2/6"></div>
          <div class="bg-gray-light h-10"></div>
          <div class="flex gap-4">
            <div class="bg-gray-light h-10 w-2/6"></div>
            <div class="bg-gray-light h-10 w-2/6"></div>
            <div class="bg-gray-light h-10 w-2/6"></div>
          </div>
        </div>
        <div class="bg-gray-light h-10"></div>
        <div class="bg-gray-light h-10"></div>
      </div>

      <div class="flex flex-col gap-10 lg:col-span-2">
        <div class="flex flex-col gap-6">
          <div class="bg-gray-light h-4 w-4/6"></div>
          <div class="bg-gray-light h-40"></div>
        </div>
        <div class="flex flex-col gap-6">
          <div class="bg-gray-light h-4 w-4/6"></div>
          <div class="bg-gray-light h-40"></div>
        </div>
      </div>
    </div>
  }
</div>