<div class="container h-full flex justify-center items-center">
  <div class="w-full max-w-96 flex flex-col gap-6 my-32 p-6 bg-white border border-gray-light">
    @switch (emailVerified) {
      @case(null) {
        <span class="h-10 bg-gray-light animate-pulse"></span>
      }
      @case (false) {
        <span class="h-10 text-body-2 text-center text-primary">Your email is already verified.</span>
      }
      @case (true) {
        <span class="h-10 text-body-2 text-center text-primary">Email verified successfully.</span>
      }
    }
    <app-button-link path="/home" appearance="outlined-primary" label="Go Home" [fullWidth]="true"/>
  </div>
</div>