<div class="relative h-[776px] bg-gray-light">
  <!-- Slider -->
  <swiper-container class="main-slider" init="false">
    @for (slide of slides; track slide) {
    <swiper-slide class="flex items-end text-white min-w-full h-[776px] max-h-screen py-24 bg-cover bg-center bg-no-repeat after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-black after:bg-opacity-60 after:block" [style.background-image]="'url(' + slide.image.src + ')'">
      <div class="container z-10">
        <div>
          <h2 class="text-body-1-inter">{{ slide.title }}</h2>
          <h3 class="text-heading-1 mb-6 mt-2">{{ slide.description }}</h3>
          @switch (slide.destination.type) {
            @case('project_category') {
              <app-button-link appearance="filled-secondary" [label]="slide.destination.label | titlecase" [path]="'/projects/category/' + slide.destination.slug" />
            }
            @case ('project') {
              <app-button-link appearance="filled-secondary" [label]="slide.destination.label | titlecase" [path]="'/projects/' + slide.destination.slug" />
            }
            @case ('blog') {
              <app-button-link appearance="filled-secondary" [label]="slide.destination.label | titlecase" [path]="'/blogs/' + slide.destination.slug" />
            }
            @case ('blog_category') {
              <app-button-link appearance="filled-secondary" [label]="slide.destination.label | titlecase" [path]="'/blogs/category/' + slide.destination.slug" />
            }
          }
        </div>
      </div>
    </swiper-slide>
    } @empty {
    <span>Loading</span>
    }
  </swiper-container>

  <!-- Slider Navigation -->
  <div class="absolute w-full top-0 pt-24 translate-y-0 md:pt-0 md:top-1/2 md:-translate-y-1/2 z-10">
    <div class="container flex justify-normal lg:justify-between items-center gap-6">
      <app-icon-arrow-left appIcon color="black" class="main-slider-next cursor-pointer"/>
      <app-icon-arrow-right appIcon color="black" class="main-slider-prev cursor-pointer"/>
    </div>
  </div>
</div>