<nav>
  <button class="close-nav" (click)="closeSideNav()">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
      <path d="M1.4 14L0 12.6L5.6 7L0 1.4L1.4 0L7 5.6L12.6 0L14 1.4L8.4 7L14 12.6L12.6 14L7 8.4L1.4 14Z"
            fill="#57585C"/>
    </svg>
  </button>
  <ul>
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
    <li>
      <div class="flex justify-between items-center">
        <a class="flex-1" routerLink="/projects" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Our Projects</a>
        <span class="p-[16px]" (click)="openChildMenu = !openChildMenu">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 12 9" fill="none">
                <path d="M6 8.37498L0 2.37498L1.4 0.974976L6 5.57498L10.6 0.974976L12 2.37498L6 8.37498Z" fill="#403F3E"/>
              </svg>
            </span>
      </div>
      <ul class="child-menu" [ngClass]="{'active': openChildMenu}">
        <li><a class="ms-6" routelink="/projects/water" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Water</a></li>
        <li><a class="ms-6" routelink="/projects/education" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Education</a></li>
        <li><a class="ms-6" routelink="/projects/food-aid" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Food Aid</a></li>
        <li><a class="ms-6" routelink="/projects/medical-help" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Medical Help</a></li>
        <li><a class="ms-6" routelink="/projects/orphan-sponsorship" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Orphan
          Sponsorship</a></li>
        <li><a class="ms-6" routelink="/projects/zakat" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Zakat</a></li>
        <li><a class="ms-6" routelink="/projects/ramadan" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Ramadan</a></li>
      </ul>
    </li>
    <li><a routerLink="/get-involved" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Get Involved</a></li>
    <li><a routerLink="/blogs" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Blog</a></li>
    <li><a routerLink="/gallery" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Gallery</a></li>
    <li><a routerLink="/careers" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Careers</a></li>
  </ul>
</nav>
